/*
	MostWanted - Wild Digital Agency
	http://www.mostwanted-agency.net
	info@mw-a.net
*/

/*NEW FONTS FOR MOSTWANTED*/
@font-face {
	font-family:'dinbold';
	src:url('fonts/ff_din_bold-webfont.eot');
	src:url('fonts/ff_din_bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/ff_din_bold-webfont.woff') format('woff'),
	url('fonts/ff_din_bold-webfont.ttf') format('truetype'),
	url('fonts/ff_din_bold-webfont.svg#DINBold') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'din';
	src:url('fonts/ff_din_regular-webfont.eot');
	src:url('fonts/ff_din_regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/ff_din_regular-webfont.woff') format('woff'),
	url('fonts/ff_din_regular-webfont.ttf') format('truetype'),
	url('fonts/ff_din_regular-webfont.svg#DINRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'lubalin';
	src:url('fonts/lubalingraphitcbybt-book-webfont.eot');
	src:url('fonts/lubalingraphitcbybt-book-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/lubalingraphitcbybt-book-webfont.woff') format('woff'),
	url('fonts/lubalingraphitcbybt-book-webfont.ttf') format('truetype'),
	url('fonts/lubalingraphitcbybt-book-webfont.svg#LubalGraphBkBTBook') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'lubalinthin';
	src:url('fonts/lubalingraphitcbybt-xtralight-webfont.eot');
	src:url('fonts/lubalingraphitcbybt-xtralight-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/lubalingraphitcbybt-xtralight-webfont.woff') format('woff'),
	url('fonts/lubalingraphitcbybt-xtralight-webfont.ttf') format('truetype'),
	url('fonts/lubalingraphitcbybt-xtralight-webfont.svg#LubalGraphXLtBTExtraLight') format('svg');
	font-weight:normal;
	font-style:normal;
}


/*NEW FONT FAMILY TO THE ADMIN*/
body {
	font-family: "din", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 75px !important;
}

textarea, input[type="text"] {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*MODAL REMOVE RIGHT SPACE*/
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
	margin-right: 0;
}

/*NEW FONT FAMILY TO TITLES*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "lubalin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, .h1 {
	font-size: 56px;
	letter-spacing: -1px;
}

a {
	color: #f00000;
}

a:hover,
a:focus {
	color: #c00000;
}

.table.table-striped.table-bordered tr:hover {
	background: inherit !important;
}

/*BUTTON ARE NOW RED*/
.btn {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	background-color: #bbb;
	border-color: #bbb;
	background-image: none;
	text-transform: capitalize;
}

.btn:hover {
	background: #f01800;
	border-color: #f01800;
}

.btn-primary {
	border-color: #f01800;
	background-color: #f01800;
	background-image: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #f00000;
	background-image: none;
	background-color: #ffffff;
	border-color: #cccccc;
}

.btn-default {
	color: #ffffff;
}

.pull-right .btn {
	margin-left: 5px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background: #f00000;
}

.dropdown-menu {
	border-radius: 0;
}

input:-webkit-autofill {
    background-color: white !important;
}

.input-append {
	vertical-align: top;
}

.input-append input {
	margin: 0;
	height: 34px;
	padding: 0 24px 0 14px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 14px;
	border: 1px solid #ccc
}

.input-append .btn {
	margin: 0;
	vertical-align: top;
}

*[class^="icon-"],
[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

.icon-search {
  background-position: -48px 0;
}

#input-icon-search {
	margin-left: -25px;
	margin-right: 4px;
}


/* MOSTWANTED MODAL */
#mwainfo .modal-body {
	overflow: hidden;
}

#mwainfo .address,
#mwainfo .networks {
	float: left;
	width: 50%;
}

#mwainfo .networks .title {
	display: block;
	font-weight: bold;
	padding-bottom: 1em;
	margin-left: -1em;
}

.modal-open .container {
	/*-webkit-filter: blur(1px);*/
}

.modal#mwainfo {
	/*-webkit-filter: blur(0px);*/
}







/*NAV BAR*/
.navbar {
	border-bottom: 1px solid #ddd;
	margin-bottom: 0;
	height: 75px;
	background: #ffffff;
	background: rgba(255,255,255,0.95);
}

.main {
	padding-top: 50px;
	padding-bottom: 50px;
}

.nav .caret {
	border-top-color: #ccc;
	border-bottom-color: #ccc;
}

.nav a:hover .caret {
	border-top-color: #aaa;
	border-bottom-color: #aaa;
}

.nav.navbar-nav {
	padding-top: 42px;
}

.nav.navbar-nav a {
	padding: 5px 15px;
	height: 32px;
}

.nav.navbar-nav.navbar-right {
	padding: 10px 0 0 0;
	height: auto;
}

.navbar-nav li ul li a {
	padding: 3px 20px;
}

.navbar-brand {
	padding: 5px 15px;
	margin-top: 40px;
}

.dropdown-menu {
	border: none;
	top: 35px;
}

@media screen and (min-width: 768px) {
	.main#login {
		position: relative;
		height: 636px;
		background: url("img/login-bg.png") center -90px no-repeat;
	}

	.main#login form {
		position: absolute;
		top: 272px;
		left: 47%;
		padding: 20px;
		width: 487px;
	}

	.main#login h3 {
		font-size: 16px;
		position: absolute;
		top: 220px;
		left: 47%;
		color: #aaa;
		padding-left: 15px;
	}

	.main#login .form-group {
		clear: both;
		overflow: hidden;
	}

	.main#login .control-label {
		float: left;
		width: 30%;
		line-height: 30px;
	}

	.main#login .form-control {
		float: left;
		width: 70%;
		border-radius: 0;
	}

	.main#login .btn {
		margin-top: -5px;
		float: left;
		margin-left: 30%;
	}
}



.form-control#upload {
	padding: 0;
}

.form-control:focus {
	box-shadow: 0 0 1px #ddd;
	border-color: #666;
}


/*LOGO ON NAV BAR*/
.navbar .mwa-logo {
	position: relative;
	padding: 15px 0;
}

.navbar .mwa-logo:hover,
.navbar .mwa-logo:focus {
	background: none;
}

.mwa-logo img {
	width: auto;
	height: 35px;
	position: absolute;
	top: 10px;
	right: 0;
}

.navbar-nav .mwa-logo .desktop {
	display: block;
	width: 99px;
	height: 50px;
	background: url("img/mostwanted-white-logo-small.png") 0 0 no-repeat;
}

.navbar-nav .mwa-logo .mobile {
	display: none;
}

/*MOBILE*/
@media screen and (max-width: 768px) {
	.navbar-nav .mwa-logo .desktop {
		display: none;
	}

	.navbar-nav .mwa-logo .mobile {
		display: block;
	}
}

.text-warning {
	color: #aaa;
}

#footer {
	background-color: #ffffff;
}

#footer .credit {
	padding: 10px 0 0 0;
	margin: 0;
	text-align: center;
	font-size: 12px
}

