/* ************************************************************************************************************************************** */
/* **                                                                COMPASS                                                           ** */
/* ************************************************************************************************************************************** */

@import "compass";



/* ************************************************************************************************************************************** */
/* **                                                                 GLOBAL                                                           ** */
/* ************************************************************************************************************************************** */

* { padding: 0; margin: 0; }

html { font-size: 14px; }

body {
  /* box */
  padding: 0;

  /* font */
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: 100;
  color: #6c757e;

  /* background */
  background: #f6f6f6;
}

*:focus { outline: 0; }

.container {
  /* box */
  width: auto;
  max-width: 960px;
  padding: 0 15px;
}

/* ************************************************************************************************************************************** */
/* **                                                                 HEADER                                                           ** */
/* ************************************************************************************************************************************** */

header#page-header {
  /* box */
  height: 65px;
  width: 100%;
  padding: 10px 25px 0;

  /* font */
  text-align: center;

  /* background */
  background-color: #34383c;

  h1 { 
    margin: 0;

    img {
      /* aimation */
      @include transition-property(scale);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);

      &:hover { @include transform(scale(1.05, 1.05)); }
    }
  }
}



/* ************************************************************************************************************************************** */
/* **                                                                PROGRESS                                                          ** */
/* ************************************************************************************************************************************** */

#prograss_wrapper { 
  /* box */
  width: 100%;
  margin-bottom: 30px;

  /* background */
  background: #FFF;

  .container {
    width: 90% !important;
    max-width: 90% !important;
    margin: 0 5%;
  }
}

.progress-meter {
  $points: 7;
  $gutter: 100% / ($points - 1);

  /* box */
  margin: 10px auto 30px;
  padding: 30px;
  
  .track {
    /* box */
    position: relative;
    height: 4px;

    /* background */
    background: #E6E6E6;
  }
  
  .progress {
    /* position */
    position: absolute;
    left: 0;
    top: 0;

    /* box */
    width: 0;
    height: 4px;
    display: block;
    
    /* background */
    background: #91c46b;
  }
  
  .progress-points {
    /* box */
    position: relative;
    margin: -17px 0 0;
    padding: 0;

    /* font */
    list-style : none;
    
    @for $i from 1 through $points {
      .progress-point:nth-child(#{$i}) {
        left: ($i - 1) * $gutter;
      }
    }
  }
  
  .progress-point {
    /* box */
    width: 100px;
    margin-left: -50px;
    display: block;
    
    /* position */
    position: absolute;

    /* font */
    color: #DDD;
    text-align: center;
    
    &:before {
      content: "\e013";

      /* box */
      width: 30px;
      height: 30px;
      display: block;
      margin: 0 auto 5px;

      /* font */
      font-family: 'Glyphicons Halflings';
      -webkit-font-smoothing: antialiased;
      text-align: center;
      color: #FFF;

      /* background */
      background-color: #FFF;
      border: 4px solid #E6E6E6;
      @include border-radius(24px);
      @include box-shadow(0 0 0 2px #FFF);
    }
    
    &.completed,
    &.active { color: #91c46b; }

    &.active .progress_label, &.completed .progress_label { font-weight: 400; }
    
    &.completed:before {
      /* background */
      border-color: #91c46b;
      background-color: #91c46b;
    }
    
    &.active:before { border-color: #91c46b; }
  }
}



/* ************************************************************************************************************************************** */
/* **                                                              UPLOAD FORM                                                         ** */
/* ************************************************************************************************************************************** */

%button {
 /* box */
  margin: 0;
  height: 50px;
  position: relative;
  @include inline-block();

  /* font */
  text-align: center;
  font-size: 1.25em;
  line-height: 50px;
  
  /* background */
  border: none;
  @include border-radius(3px);
  @include box-sizing(border-box);

  /* aimation */
  @include transition-property(all);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);
}

form.fileUpload2 { 

  .file_select {
    /* position */
    position: relative;
    float: right;

    &:hover {
      label.fileSelect { background-color: darken(#91c46b, 10%); }
    }

    .fileElem {
      /* box */
      height: 50px;
      width: 150px;

      /* position */
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      
      /* background */
      cursor: pointer;
      opacity: 0;
      @include box-sizing(border-box);
      
      &:focus { outline: none; }
    }

    label.fileSelect {
      /* box */
      width: 150px;
      height: 50px;

      /* font */
      color: #FFF;
      text-align: center;
      line-height: 50px;
      font-weight: 400;

      /* background */
      border: none;
      background-color: #91c46b;

      /* aimation */
      @include transition-property(all);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);

      .fa {
        vertical-align: middle;
        font-size: 1.75em;
        margin-right: 10px;
        margin-top: -3px;
      }

      &.disabled {
        border-color: darken(#aaa, 10%);
        background-color: #aaa;
      }
    }
  }
}

form.fileUpload {
  /* box */
  width: 100%;
  margin-bottom: 40px;
  padding: 30px;

  /* background */
  border: 1px solid #D9DBDB;
  background-color: #e9ecec;

  .form-group { 
    /* box */
    margin-bottom: 0;
    position: relative;

    &:hover label.fileSelect {
      /* font */
      color: #FFF;
      text-decoration: none;

      /* background */
      background-color: darken(#91c46b, 10%);

      &.disabled { background-color: darken(#aaa, 10%); }
    }
  }

  .fileElem {
    /* box */
    height: 50px;
    width: 100%;

    /* position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    /* background */
    cursor: pointer;
    opacity: 0;
    @include box-sizing(border-box);
    
    &:focus { outline: none; }
  }

  label.fileSelect {
    /* Extend button */
    @extend %button;

    /* box */
    width: 100%;

    /* font */
    color: #FFF;

    /* background */
    border-bottom: 3px solid darken(#91c46b, 10%);
    background-color: #91c46b;

    .fa {
      vertical-align: middle;
      font-size: 1.75em;
      margin-right: 10px;
      margin-top: -3px;
    }

    &.disabled {
      border-color: darken(#aaa, 10%);
      background-color: #aaa;
    }
  }

  .drag-drop {
    /* box */
    width: 100%;
    padding: 20px;
    height: 175px;
    margin-bottom: 20px;
    display: table;

    /* font */
    text-align: center;

    /* background */
    border: 1px dashed #c5c7c7;

    span {
      /* display */
      display: table-cell;
      vertical-align: middle;

      /* font */
      font-weight: 400;
      font-size: 1.5em;
      color: #c5c7c7;

      i { font-size: 1.75em; }
    }
  }
}

a.link_next {
  /* Extend button */
  @extend %button;

  /* box */
  padding: 0 25px;

  /* font */
  color: #FFF;
  font-weight: 400;

  /* background */
  border-bottom: 3px solid darken(#91c46b, 10%);
  background-color: #91c46b;

  i.glyphicon {
    margin-left: 10px;
    font-size: 0.85em;
  }

  &:hover {
    /* font */
    color: #FFF;
    text-decoration: none;

    /* background */
    background-color: darken(#91c46b, 10%);
  }
}

#video_preview_wrapper {
  width: 1280px;
  height: 720px;
  margin: 0 auto 80px auto;
  text-align: center;
}

.ninja_btn {
   /* Extend button */
  @extend %button;

  /* box */
  padding: 0 25px;

  /* font */
  color: #FFF;
  font-weight: 400;

  /* background */
  border-bottom: 3px solid darken(#91c46b, 10%);
  background-color: #91c46b;

  i.glyphicon {
    margin-left: 10px;
    font-size: 0.85em;
  }

  &:hover {
    /* font */
    color: #FFF;
    text-decoration: none;

    /* background */
    background-color: darken(#91c46b, 10%);
  }
}



/* ************************************************************************************************************************************** */
/* **                                                                STEP 4                                                            ** */
/* ************************************************************************************************************************************** */

#stage { margin-bottom: 20px; }

#vid {
  /* box */
  margin: -385px auto 20px auto;
  display: block;

  /* position */
  position: relative; 
  z-index: -1;
}

#video { margin-bottom: 60px; position: relative; }
#info { margin-bottom: 40px; }

.tab-pane { margin-top: 15px; }

.nav-tabs { 
  border: none;

  li { margin-right: 10px; }

  li a {
    /* font */
    font-weight: 400;
    color: #c5c7c7;

    /* background */
    border: 1px solid #D9DBDB;
    @include border-radius(0);

    &:hover {
      /* background */
      border: 1px solid #D9DBDB;
      background: #e9ecec;
      @include border-radius(0);
    }
  }

  li.active a,
  li.active a:hover {
    /* font */
    color: #6c757e;

    /* background */
    border: 1px solid #D9DBDB;
    background: #e9ecec;
    @include border-radius(0);
  }
}

#add_meta_form,
#calculate_frame_form {

  input {
    /* box */
    height: 50px;
    padding: 0 15px;

    /* font */
    font-weight: 400;
    color: #6c757e;

    /* background */
    border: none;
    background: #FFF;
    @include border-radius(0);
    @include box-shadow(none);
  }
}

#calculate_frame_form .form-group { 
  margin-left: 10px;

  &:first-child { margin: 0 10px 0 0; }

  input { width: 385px; }
}

#add_image_form,
#add_overlay_form,
#add_text_form { 
  /* box */
  margin-top: 30px;
  height: 50px;

  /* background */
  background: #FFF;

  input {
    /* box */
    height: 50px;
    padding: 0;

    /* background */
    border: none;
    @include border-radius(0);
    @include box-shadow(none);
  }

  input#text,
  input#id {
    /* box */
    width: 700px;

    /* font */
    font-size: 1.1em;
    font-weight: 600;
    color: #BBB;
  }

  input#frame,
  input#frame_rate,
  input#frame_from,
  input#frame_to,
  input#transparency {
    /* box */
    width: 50px;
    margin-right: 15px;

    /* font */
    color: #FFF;
    font-weight: 600;
    text-align: center;

    /* background */
    background: #BBB;

    /* Placeholder */
    &::-webkit-input-placeholder { color: #FFF; }
    &:-moz-placeholder { color: #FFF; }
    &::-moz-placeholder { color: #FFF; }
    &:-ms-input-placeholder { color: #FFF; }
  }

  select#color {
    /* box */
    width: 550px;
    padding-left: 0;

    /* background */
    border: 0;
    background: transparent;
    @include border-radius(0);
    @include box-shadow(none);
    -webkit-appearance: none; 
  }

  .arrow_to,
  .perc_symbol {
    /* box */
    @include inline-block;
    height: 100%;
    padding: 0 10px;

    /* font */
    color: #FFF;
    line-height: 50px;
    font-weight: 600;

    /* background */
    background: #BBB;
  }

  input#transparency { width: 45px; text-align: right; }
  .perc_symbol { padding-left: 5px; margin-right: 15px; }

  input#frame_from,
  input#frame_to,
  input#transparency,
  input#color,
  .arrow_to { margin-right: -4px; }

  .add_btn {
    /* box */
    padding: 0;
    height: 100%;
    width: 150px;
    float: right;

    /* font */
    color: #FFF;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: 400;

    /* background */
    background-color: #91c46b;
    border: none;
    @include border-radius(0);

    /* aimation */
    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);

    &:hover { background-color: darken(#91c46b, 10%); }
  }
}

#images li,
#overlays li,
#texts li {
  /* box */
  margin-bottom: 15px;

  /* font */
  list-style-type: none;

  &:hover .info_wrapper div.actions { @include opacity(1); }

  &.active_details .details_wrapper,
  &.active_effects .effects_wrapper { 
    @include box-shadow(rgba(0, 0, 0, 0.15) 0 10px 10px -10px inset);
  }

  .details_wrapper,
  .effects_wrapper {
    /* box */
    width: 100%;
    padding: 30px;
    display: none;

    /* background */
    border: 1px solid #D9DBDB;
    border-top: none;
    background-color: #e9ecec;
  }

  .fixed_move_actions {
    /* box */
    margin-top: 25px;

    a {
      /* box */
      margin-left: 20px;

      /* font */
      color: #6c757e;
      font-weight: 100;
      text-decoration: underline;

      &:hover { text-decoration: none; }
    }
  }

  .info_wrapper {
    /* box */
    height: 50px;
    width: 100%;

    /* background */
    background: #FFF;

    select#color {
      /* box */
      width: 620px;
      height: 50px;
      padding-left: 0;

      /* background */
      border: 0;
      background: transparent;
      @include border-radius(0);
      @include box-shadow(none);
      -webkit-appearance: none; 
    }

    div {
      /* box */
      @include inline-block(middle);
      height: 50px;

      /* font */
      text-align: center;

      .btn_effect { text-transform: uppercase; }

      &.frame input,
      &.frame_from input,
      &.frame_to input,
      &.opacity input,
      &.arrow_to,
      &.perc_symbol {
        /* box */
        width: 50px;
        height: 100%;
        margin-right: 15px;

        /* font */
        color: #FFF;
        font-size: 1.20em;
        font-weight: 600;
        text-align: center;
        line-height: 50px;

        /* background */
        background: #56606e;
        border: none;
        @include box-shadow(none);
      }

      &.opacity {
        width: 40px;
        text-align: right;
      }

      &.frame_from input,
      &.frame_to input,
      &.opacity input,
      &.arrow_to,
      &.opacity { margin-right: -4px; }

      &.arrow_to,
      &.perc_symbol {
        /* box */
        width: auto;
        padding: 0 10px;
      }

      &.perc_symbol { padding-left: 5px; }
      
      &.opacity input { margin-right: 0; }

      &.actions {
        float: right;
        @include opacity(0);

        /* aimation */
        @include transition-property(opacity);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-in);

        span {
          /* box */
          height: 100%;
          width: 75px;
          float: left;

          /* font */
          color: #FFF;
          line-height: 50px;
          text-align: center;
          cursor: pointer;
          font-weight: 400;

          /* background */
          background-color: #F34541;

          /* aimation */
          @include transition-property(all);
          @include transition-duration(0.2s);
          @include transition-timing-function(ease-in);

          &.btn_upload {
            width: 85px;
            background-color: #f1c40f;

            &:hover { background-color: darken(#f1c40f, 10%); } 
          }

          &.btn_details { 
            background-color: #BBB;

            &:hover { background-color: darken(#BBB, 10%); } 
          }

          &.btn_save { 
            background-color: #76b448;

            &:hover { background-color: darken(#76b448, 10%); } 
          }

           &.btn_effects { 
            background-color: #00BBB7;

            &:hover { background-color: darken(#00BBB7, 10%); } 
          }
          

          &:hover { background-color: darken(#F34541, 10%); }
        }
      }

      &.image_content,
      &.image_source,
      &.content,
      &.color { 
        /* box */
        margin: 0;

        /* font */
        font-size: 1.1em;
        font-weight: 600;
        line-height: 50px;

        input {
          /* box */
          width: 630px;

          /* font */
          color: #6c757e;
          font-size: 1.1em;
          font-weight: 600;

          /* background */
          border: none;
          background: #FFF;
          @include box-shadow(none);
        }
      }

      &.image_source { 
        /* box */
        margin-left: 20px; 
        width: 295px; 

        /* font */
        font-weight: normal;
        text-align: left; 
      }

      &.image_content input { width: 225px; }
      &.color input { width: 620px; }
    }
  }
}

#images li.error .info_wrapper div.image_source .source {
  color: #f01611;

  &:before {
    content: "\f165";

    /* box */
    margin-right: 10px;
    @include inline-block;

    /* font */
    color: #f01611;
    font-size: 1.25em;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    /* smoothing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.texts_details_form,
.images_details_form,
.details_form {

  .effects_wrapper .effect-button {
    /* box */
    margin-right: 10px;
    padding: 10px 15px;

    /* font */
    font-weight: 400;
    color: #c5c7c7;

    /* background */
    border: 1px solid #D9DBDB;
    @include border-radius(0);

    &:hover {
      /* font */
      color: #6c757e;
      text-decoration: none;

      /* background */
      border: 1px solid #D9DBDB;
      background: #e9ecec;
      @include border-radius(0);
    }

    &.active {
      color: #6c757e;
      border-color: #6c757e;
    }
  }

  .details_wrapper {
    .nav-tabs li.active a { border-color: #6c757e; }
    .nav-tabs li a:hover { color: #6c757e; }

    label { 
      /* box */
      width: 100px;
      margin-bottom: 0;
      line-height: 12px;
      @include inline-block(bottom);
    }

    input { 
      /* box */
      width: 300px; 
      @include inline-block();

      /* background */
      background: none;
      border: none;
      border-bottom: 1px solid #c5c7c7;
      @include border-radius(0);
      @include box-shadow(none);
    }

    .styled-select {
      width: 300px;
      @include inline-block();

      /* background */
      border-bottom: 1px solid #c5c7c7;

      select {
        /* box */
        width: 280px;
        padding: 5px;
        margin-left: 10px;
        
        /* background */
        border: 0;
        background: transparent;
        @include border-radius(0);
        @include box-shadow(none);
        -webkit-appearance: none;
       }
     }

    .left_wrapper {
      width: 47%;
      margin-right: 2%;
      @include inline-block(top);
    }

    .right_wrapper {
      width: 47%;
      margin-left: 2%;
      @include inline-block(top);
    }
  }
}



/* ************************************************************************************************************************************** */
/* **                                                                RENDER                                                            ** */
/* ************************************************************************************************************************************** */

.page_title { 
  margin-bottom: 15px;
  text-align: center;

  h2 { font-size: 2.15em; }
}

.info_items { margin-bottom: 40px; }

.carousel {
  .carousel-inner {
    text-align: center;

    p { font-size: 1.25em; }
  }

  .carousel-indicators {
    /* box */
    margin-bottom: 25px;

    /* position */
    position: relative;
    bottom: 0;

    li {
      /* box */
      width: 13px;
      height: 13px;
      margin: 0;

      /* background */
      border-color: #D9DBDB;

      &.active { background-color: #e9ecec; }
    }
  }
}



.render_info,
.frames_info,
.compile_info,
.compile_info_2,
.loading_audio_steps,
.loading_video_steps {
  /* box */
  @include inline-block;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 30px;

  /* font */
  text-align: left;

  /* background */
  border: 1px solid #D9DBDB;
  background-color: #e9ecec;

  p { 
    margin: 10px 0 0 0;

    strong { 
      text-align: right;
      margin-right: 15px;
      @include inline-block;
    }

    &:first-child { margin: 0; }
  }
}

.render_info p strong { width: 200px; }
.frames_info p strong { width: 110px; }

.compile_info,
.compile_info_2,
.loading_audio_steps,
.loading_video_steps {

  div {
    /* box */
    width: 300px;
    @include inline-block(top);

    /* font */
    text-align: center;

    .fa-spinner,
    .fa-check-circle-o {
      margin-top: 10px;
      font-size: 3em;
    }

    .fa-check-circle-o { color: #91c46b; }

    &.inactive strong { color: #D9DBDB; }

    &.small_vid { margin-left: 30px; }
  }
}

.compile_info_2 { display: none; }

.loading_video_steps div { width: 275px; }

.video-row {
  /* box */
  @include inline-block(top);
  padding: 30px;

  /* background */
  border: 1px solid #D9DBDB;
  background-color: #e9ecec;

  &.video-big { margin-right: 25px; }
  &.video-small { margin-left: 25px; }

  video { margin-bottom: 20px; }

  h3 {
    /* box */
    margin: 0 0 20px 0;

    /* font */
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    color: #c5c7c7;
  }

  a { 
    @extend %button;

    /* box */
    width: 100%;
    padding: 0 25px;

    /* font */
    color: #FFF;
    font-weight: 400;

    /* background */
    border-bottom: 3px solid darken(#91c46b, 10%);
    background-color: #91c46b;

    .mb { 
      font-size: 0.75em;
      @include opacity(0.75); 
    }

    &:hover {
      /* font */
      text-decoration: none;
      
      /* background */
      background-color: darken(#91c46b, 10%);
    }
  }
}

#ninja_download { 
  margin: 30px 0 40px 0; 

  a {
    @extend %button;

    /* box */
    width: auto;
    padding: 0 25px;

    /* font */
    color: #FFF;
    font-weight: 400;

    /* background */
    border-bottom: 3px solid darken(#91c46b, 10%);
    background-color: #91c46b;

    &:hover {
      /* font */
      text-decoration: none;
      
      /* background */
      background-color: darken(#91c46b, 10%);
    }
  }
}


.error_message {
  /* box */
  width: 100%;
  padding: 15px 0;
  display: none;

  /* position */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1999;

  /* font */
  font-weight: 600;
  color: #FFF;
  font-size: 1.25em;
  text-align: center;
  line-height: 50px;

  /* background */
  background: #F34541;

  p {
    padding: 0;
    margin: 0;
  }
}

#backup_wrapper {
  margin-top: 50px;
  margin-bottom: 40px;

  .ninja_btn {
    /* box */
    @include inline-block(bottom);

    /* background */
    background: #BBB;
    border-bottom: 3px solid darken(#BBB, 10%);

    &:hover {
      background: darken(#BBB, 10%);
    }
  }
}

#video_info {
  /* box */
  margin-bottom: 25px;
 
  /* font */
  text-align: center;

  a {
    /* font */
    text-decoration: none;
    color: darken(#91c46b, 10%);

    /* background */
    @include opacity(0.35);
    cursor: default; 

    &.active {
      /* background */
      cursor: pointer;
      @include opacity(1); 
    }

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    /* font */
    font-size: 1.15em;
    list-style-type: none;

    li {
      /* box */
      @include inline-block();
      margin: 0 15px;

      /* background */
      @include opacity(0.35);

      &.active { @include opacity(1); }

      span {
        font-weight: 600;
      }
    }
  }
}

.steps_wrapper {
  display: none;
}



/* ************************************************************************************************************************************** */
/* **                                                                TOOLTIP                                                           ** */
/* ************************************************************************************************************************************** */

#coord_tooltip {
  /* box */
  padding: 5px 10px;
  z-index: 999;
  display: none;

  /* position */
  position: absolute;
 
  /* font */
  color: #333;
  font-weight: 400;

  /* background */
  border: 1px solid #333;
  background: rgba(200,200,200,0.8);
}

.dropbox-dropin-btn,
.dropbox-dropin-btn:link {
  /* box */
  height: 47px !important;
  padding: 0 25px !important;
  margin-left: 25px !important;

  /* font */
  color: #6c757e !important;
  line-height: 47px !important;
  font-size: 1.25em !important;
  font-weight: normal !important;
  font-family: 'Open Sans', sans-serif !important;

  /* border */
  border: none !important;
  border-bottom: 3px solid #e9ecec !important;
  background: #FFF !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important;

  /* animation */
  @include transition-property(all);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);

  &:hover {  background: #e9ecec !important; }

  span.dropin-btn-status { 
    /* box */
    margin-right: 10px !important;
    margin-top: -5px !important;

    /* position */
    vertical-align: middle !important;
  }
}

