
<div id="prograss_wrapper">
  <div class="container">
    <div class="progress-meter">
      <div class="track">
        <span class="progress" style="width:{ceil( $progress / 6 * 100 )}%;"></span>
      </div>
      <ol class="progress-points">
        <li class="progress-point {if $progress == 0}active{/if} {if $progress > 0}completed{/if}">
          <span class="progress_label">Audio</span>
        </li>
        <!--
        <li class="progress-point {if $progress == 1}active{/if} {if $progress > 1}completed{/if}">
          <span class="progress_label">Video</span>
        </li>
        -->
        <li class="progress-point {if $progress == 1}active{/if} {if $progress > 1}completed{/if}">
          <span class="progress_label">Ninja</span>
        </li>
        <li class="progress-point {if $progress == 2}active{/if} {if $progress > 2}completed{/if}">
          <span class="progress_label">Edit</span>
        </li>
        <li class="progress-point {if $progress == 3}active{/if} {if $progress > 3}completed{/if}">
          <span class="progress_label">Render</span>
        </li>
        <li class="progress-point {if $progress == 4}active{/if} {if $progress > 4}completed{/if}">
          <span class="progress_label">Frames</span>
        </li>
        <li class="progress-point {if $progress == 5}active{/if} {if $progress > 5}completed{/if}">
          <span class="progress_label">Compile</span>
        </li>
        <li class="progress-point {if $progress == 6}active{/if} {if $progress > 6}completed{/if}">
          <span class="progress_label">Download</span>
        </li>
      </ol>
    </div>
  </div>
</div>
