/* ************************************************************************************************************************************** */
/* **                                                                COMPASS                                                           ** */
/* ************************************************************************************************************************************** */
/* ************************************************************************************************************************************** */
/* **                                                                 GLOBAL                                                           ** */
/* ************************************************************************************************************************************** */
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 14px; }

body {
  /* box */
  padding: 0;
  /* font */
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: 100;
  color: #6c757e;
  /* background */
  background: #f6f6f6; }

*:focus {
  outline: 0; }

.container {
  /* box */
  width: auto;
  max-width: 960px;
  padding: 0 15px; }

/* ************************************************************************************************************************************** */
/* **                                                                 HEADER                                                           ** */
/* ************************************************************************************************************************************** */
header#page-header {
  /* box */
  height: 65px;
  width: 100%;
  padding: 10px 25px 0;
  /* font */
  text-align: center;
  /* background */
  background-color: #34383c; }
  header#page-header h1 {
    margin: 0; }
    header#page-header h1 img {
      /* aimation */
      -moz-transition-property: scale;
      -o-transition-property: scale;
      -webkit-transition-property: scale;
      transition-property: scale;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }
      header#page-header h1 img:hover {
        -moz-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
        -o-transform: scale(1.05, 1.05);
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05); }

/* ************************************************************************************************************************************** */
/* **                                                                PROGRESS                                                          ** */
/* ************************************************************************************************************************************** */
#prograss_wrapper {
  /* box */
  width: 100%;
  margin-bottom: 30px;
  /* background */
  background: #FFF; }
  #prograss_wrapper .container {
    width: 90% !important;
    max-width: 90% !important;
    margin: 0 5%; }

.progress-meter {
  /* box */
  margin: 10px auto 30px;
  padding: 30px; }
  .progress-meter .track {
    /* box */
    position: relative;
    height: 4px;
    /* background */
    background: #E6E6E6; }
  .progress-meter .progress {
    /* position */
    position: absolute;
    left: 0;
    top: 0;
    /* box */
    width: 0;
    height: 4px;
    display: block;
    /* background */
    background: #91c46b; }
  .progress-meter .progress-points {
    /* box */
    position: relative;
    margin: -17px 0 0;
    padding: 0;
    /* font */
    list-style: none; }
    .progress-meter .progress-points .progress-point:nth-child(1) {
      left: 0%; }
    .progress-meter .progress-points .progress-point:nth-child(2) {
      left: 16.66667%; }
    .progress-meter .progress-points .progress-point:nth-child(3) {
      left: 33.33333%; }
    .progress-meter .progress-points .progress-point:nth-child(4) {
      left: 50%; }
    .progress-meter .progress-points .progress-point:nth-child(5) {
      left: 66.66667%; }
    .progress-meter .progress-points .progress-point:nth-child(6) {
      left: 83.33333%; }
    .progress-meter .progress-points .progress-point:nth-child(7) {
      left: 100%; }
  .progress-meter .progress-point {
    /* box */
    width: 100px;
    margin-left: -50px;
    display: block;
    /* position */
    position: absolute;
    /* font */
    color: #DDD;
    text-align: center; }
    .progress-meter .progress-point:before {
      content: "\e013";
      /* box */
      width: 30px;
      height: 30px;
      display: block;
      margin: 0 auto 5px;
      /* font */
      font-family: 'Glyphicons Halflings';
      -webkit-font-smoothing: antialiased;
      text-align: center;
      color: #FFF;
      /* background */
      background-color: #FFF;
      border: 4px solid #E6E6E6;
      -moz-border-radius: 24px;
      -webkit-border-radius: 24px;
      border-radius: 24px;
      -moz-box-shadow: 0 0 0 2px white;
      -webkit-box-shadow: 0 0 0 2px white;
      box-shadow: 0 0 0 2px white; }
    .progress-meter .progress-point.completed, .progress-meter .progress-point.active {
      color: #91c46b; }
    .progress-meter .progress-point.active .progress_label, .progress-meter .progress-point.completed .progress_label {
      font-weight: 400; }
    .progress-meter .progress-point.completed:before {
      /* background */
      border-color: #91c46b;
      background-color: #91c46b; }
    .progress-meter .progress-point.active:before {
      border-color: #91c46b; }

/* ************************************************************************************************************************************** */
/* **                                                              UPLOAD FORM                                                         ** */
/* ************************************************************************************************************************************** */
form.fileUpload label.fileSelect, a.link_next, .ninja_btn, .video-row a, #ninja_download a {
  /* box */
  margin: 0;
  height: 50px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  /* font */
  text-align: center;
  font-size: 1.25em;
  line-height: 50px;
  /* background */
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* aimation */
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }

form.fileUpload2 .file_select {
  /* position */
  position: relative;
  float: right; }
  form.fileUpload2 .file_select:hover label.fileSelect {
    background-color: #76b448; }
  form.fileUpload2 .file_select .fileElem {
    /* box */
    height: 50px;
    width: 150px;
    /* position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* background */
    cursor: pointer;
    opacity: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    form.fileUpload2 .file_select .fileElem:focus {
      outline: none; }
  form.fileUpload2 .file_select label.fileSelect {
    /* box */
    width: 150px;
    height: 50px;
    /* font */
    color: #FFF;
    text-align: center;
    line-height: 50px;
    font-weight: 400;
    /* background */
    border: none;
    background-color: #91c46b;
    /* aimation */
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
    form.fileUpload2 .file_select label.fileSelect .fa {
      vertical-align: middle;
      font-size: 1.75em;
      margin-right: 10px;
      margin-top: -3px; }
    form.fileUpload2 .file_select label.fileSelect.disabled {
      border-color: #909090;
      background-color: #aaa; }

form.fileUpload {
  /* box */
  width: 100%;
  margin-bottom: 40px;
  padding: 30px;
  /* background */
  border: 1px solid #D9DBDB;
  background-color: #e9ecec; }
  form.fileUpload .form-group {
    /* box */
    margin-bottom: 0;
    position: relative; }
    form.fileUpload .form-group:hover label.fileSelect {
      /* font */
      color: #FFF;
      text-decoration: none;
      /* background */
      background-color: #76b448; }
      form.fileUpload .form-group:hover label.fileSelect.disabled {
        background-color: #909090; }
  form.fileUpload .fileElem {
    /* box */
    height: 50px;
    width: 100%;
    /* position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* background */
    cursor: pointer;
    opacity: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    form.fileUpload .fileElem:focus {
      outline: none; }
  form.fileUpload label.fileSelect {
    /* Extend button */
    /* box */
    width: 100%;
    /* font */
    color: #FFF;
    /* background */
    border-bottom: 3px solid #76b448;
    background-color: #91c46b; }
    form.fileUpload label.fileSelect .fa {
      vertical-align: middle;
      font-size: 1.75em;
      margin-right: 10px;
      margin-top: -3px; }
    form.fileUpload label.fileSelect.disabled {
      border-color: #909090;
      background-color: #aaa; }
  form.fileUpload .drag-drop {
    /* box */
    width: 100%;
    padding: 20px;
    height: 175px;
    margin-bottom: 20px;
    display: table;
    /* font */
    text-align: center;
    /* background */
    border: 1px dashed #c5c7c7; }
    form.fileUpload .drag-drop span {
      /* display */
      display: table-cell;
      vertical-align: middle;
      /* font */
      font-weight: 400;
      font-size: 1.5em;
      color: #c5c7c7; }
      form.fileUpload .drag-drop span i {
        font-size: 1.75em; }

a.link_next {
  /* Extend button */
  /* box */
  padding: 0 25px;
  /* font */
  color: #FFF;
  font-weight: 400;
  /* background */
  border-bottom: 3px solid #76b448;
  background-color: #91c46b; }
  a.link_next i.glyphicon {
    margin-left: 10px;
    font-size: 0.85em; }
  a.link_next:hover {
    /* font */
    color: #FFF;
    text-decoration: none;
    /* background */
    background-color: #76b448; }

#video_preview_wrapper {
  width: 1280px;
  height: 720px;
  margin: 0 auto 80px auto;
  text-align: center; }

.ninja_btn {
  /* Extend button */
  /* box */
  padding: 0 25px;
  /* font */
  color: #FFF;
  font-weight: 400;
  /* background */
  border-bottom: 3px solid #76b448;
  background-color: #91c46b; }
  .ninja_btn i.glyphicon {
    margin-left: 10px;
    font-size: 0.85em; }
  .ninja_btn:hover {
    /* font */
    color: #FFF;
    text-decoration: none;
    /* background */
    background-color: #76b448; }

/* ************************************************************************************************************************************** */
/* **                                                                STEP 4                                                            ** */
/* ************************************************************************************************************************************** */
#stage {
  margin-bottom: 20px; }

#vid {
  /* box */
  margin: -385px auto 20px auto;
  display: block;
  /* position */
  position: relative;
  z-index: -1; }

#video {
  margin-bottom: 60px;
  position: relative; }

#info {
  margin-bottom: 40px; }

.tab-pane {
  margin-top: 15px; }

.nav-tabs {
  border: none; }
  .nav-tabs li {
    margin-right: 10px; }
  .nav-tabs li a {
    /* font */
    font-weight: 400;
    color: #c5c7c7;
    /* background */
    border: 1px solid #D9DBDB;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
    .nav-tabs li a:hover {
      /* background */
      border: 1px solid #D9DBDB;
      background: #e9ecec;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; }
  .nav-tabs li.active a,
  .nav-tabs li.active a:hover {
    /* font */
    color: #6c757e;
    /* background */
    border: 1px solid #D9DBDB;
    background: #e9ecec;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }

#add_meta_form input,
#calculate_frame_form input {
  /* box */
  height: 50px;
  padding: 0 15px;
  /* font */
  font-weight: 400;
  color: #6c757e;
  /* background */
  border: none;
  background: #FFF;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

#calculate_frame_form .form-group {
  margin-left: 10px; }
  #calculate_frame_form .form-group:first-child {
    margin: 0 10px 0 0; }
  #calculate_frame_form .form-group input {
    width: 385px; }

#add_image_form,
#add_overlay_form,
#add_text_form {
  /* box */
  margin-top: 30px;
  height: 50px;
  /* background */
  background: #FFF; }
  #add_image_form input,
  #add_overlay_form input,
  #add_text_form input {
    /* box */
    height: 50px;
    padding: 0;
    /* background */
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  #add_image_form input#text,
  #add_image_form input#id,
  #add_overlay_form input#text,
  #add_overlay_form input#id,
  #add_text_form input#text,
  #add_text_form input#id {
    /* box */
    width: 700px;
    /* font */
    font-size: 1.1em;
    font-weight: 600;
    color: #BBB; }
  #add_image_form input#frame,
  #add_image_form input#frame_rate,
  #add_image_form input#frame_from,
  #add_image_form input#frame_to,
  #add_image_form input#transparency,
  #add_overlay_form input#frame,
  #add_overlay_form input#frame_rate,
  #add_overlay_form input#frame_from,
  #add_overlay_form input#frame_to,
  #add_overlay_form input#transparency,
  #add_text_form input#frame,
  #add_text_form input#frame_rate,
  #add_text_form input#frame_from,
  #add_text_form input#frame_to,
  #add_text_form input#transparency {
    /* box */
    width: 50px;
    margin-right: 15px;
    /* font */
    color: #FFF;
    font-weight: 600;
    text-align: center;
    /* background */
    background: #BBB;
    /* Placeholder */ }
    #add_image_form input#frame::-webkit-input-placeholder,
    #add_image_form input#frame_rate::-webkit-input-placeholder,
    #add_image_form input#frame_from::-webkit-input-placeholder,
    #add_image_form input#frame_to::-webkit-input-placeholder,
    #add_image_form input#transparency::-webkit-input-placeholder,
    #add_overlay_form input#frame::-webkit-input-placeholder,
    #add_overlay_form input#frame_rate::-webkit-input-placeholder,
    #add_overlay_form input#frame_from::-webkit-input-placeholder,
    #add_overlay_form input#frame_to::-webkit-input-placeholder,
    #add_overlay_form input#transparency::-webkit-input-placeholder,
    #add_text_form input#frame::-webkit-input-placeholder,
    #add_text_form input#frame_rate::-webkit-input-placeholder,
    #add_text_form input#frame_from::-webkit-input-placeholder,
    #add_text_form input#frame_to::-webkit-input-placeholder,
    #add_text_form input#transparency::-webkit-input-placeholder {
      color: #FFF; }
    #add_image_form input#frame:-moz-placeholder,
    #add_image_form input#frame_rate:-moz-placeholder,
    #add_image_form input#frame_from:-moz-placeholder,
    #add_image_form input#frame_to:-moz-placeholder,
    #add_image_form input#transparency:-moz-placeholder,
    #add_overlay_form input#frame:-moz-placeholder,
    #add_overlay_form input#frame_rate:-moz-placeholder,
    #add_overlay_form input#frame_from:-moz-placeholder,
    #add_overlay_form input#frame_to:-moz-placeholder,
    #add_overlay_form input#transparency:-moz-placeholder,
    #add_text_form input#frame:-moz-placeholder,
    #add_text_form input#frame_rate:-moz-placeholder,
    #add_text_form input#frame_from:-moz-placeholder,
    #add_text_form input#frame_to:-moz-placeholder,
    #add_text_form input#transparency:-moz-placeholder {
      color: #FFF; }
    #add_image_form input#frame::-moz-placeholder,
    #add_image_form input#frame_rate::-moz-placeholder,
    #add_image_form input#frame_from::-moz-placeholder,
    #add_image_form input#frame_to::-moz-placeholder,
    #add_image_form input#transparency::-moz-placeholder,
    #add_overlay_form input#frame::-moz-placeholder,
    #add_overlay_form input#frame_rate::-moz-placeholder,
    #add_overlay_form input#frame_from::-moz-placeholder,
    #add_overlay_form input#frame_to::-moz-placeholder,
    #add_overlay_form input#transparency::-moz-placeholder,
    #add_text_form input#frame::-moz-placeholder,
    #add_text_form input#frame_rate::-moz-placeholder,
    #add_text_form input#frame_from::-moz-placeholder,
    #add_text_form input#frame_to::-moz-placeholder,
    #add_text_form input#transparency::-moz-placeholder {
      color: #FFF; }
    #add_image_form input#frame:-ms-input-placeholder,
    #add_image_form input#frame_rate:-ms-input-placeholder,
    #add_image_form input#frame_from:-ms-input-placeholder,
    #add_image_form input#frame_to:-ms-input-placeholder,
    #add_image_form input#transparency:-ms-input-placeholder,
    #add_overlay_form input#frame:-ms-input-placeholder,
    #add_overlay_form input#frame_rate:-ms-input-placeholder,
    #add_overlay_form input#frame_from:-ms-input-placeholder,
    #add_overlay_form input#frame_to:-ms-input-placeholder,
    #add_overlay_form input#transparency:-ms-input-placeholder,
    #add_text_form input#frame:-ms-input-placeholder,
    #add_text_form input#frame_rate:-ms-input-placeholder,
    #add_text_form input#frame_from:-ms-input-placeholder,
    #add_text_form input#frame_to:-ms-input-placeholder,
    #add_text_form input#transparency:-ms-input-placeholder {
      color: #FFF; }
  #add_image_form select#color,
  #add_overlay_form select#color,
  #add_text_form select#color {
    /* box */
    width: 550px;
    padding-left: 0;
    /* background */
    border: 0;
    background: transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }
  #add_image_form .arrow_to,
  #add_image_form .perc_symbol,
  #add_overlay_form .arrow_to,
  #add_overlay_form .perc_symbol,
  #add_text_form .arrow_to,
  #add_text_form .perc_symbol {
    /* box */
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    height: 100%;
    padding: 0 10px;
    /* font */
    color: #FFF;
    line-height: 50px;
    font-weight: 600;
    /* background */
    background: #BBB; }
  #add_image_form input#transparency,
  #add_overlay_form input#transparency,
  #add_text_form input#transparency {
    width: 45px;
    text-align: right; }
  #add_image_form .perc_symbol,
  #add_overlay_form .perc_symbol,
  #add_text_form .perc_symbol {
    padding-left: 5px;
    margin-right: 15px; }
  #add_image_form input#frame_from,
  #add_image_form input#frame_to,
  #add_image_form input#transparency,
  #add_image_form input#color,
  #add_image_form .arrow_to,
  #add_overlay_form input#frame_from,
  #add_overlay_form input#frame_to,
  #add_overlay_form input#transparency,
  #add_overlay_form input#color,
  #add_overlay_form .arrow_to,
  #add_text_form input#frame_from,
  #add_text_form input#frame_to,
  #add_text_form input#transparency,
  #add_text_form input#color,
  #add_text_form .arrow_to {
    margin-right: -4px; }
  #add_image_form .add_btn,
  #add_overlay_form .add_btn,
  #add_text_form .add_btn {
    /* box */
    padding: 0;
    height: 100%;
    width: 150px;
    float: right;
    /* font */
    color: #FFF;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    /* background */
    background-color: #91c46b;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    /* aimation */
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
    #add_image_form .add_btn:hover,
    #add_overlay_form .add_btn:hover,
    #add_text_form .add_btn:hover {
      background-color: #76b448; }

#images li,
#overlays li,
#texts li {
  /* box */
  margin-bottom: 15px;
  /* font */
  list-style-type: none; }
  #images li:hover .info_wrapper div.actions,
  #overlays li:hover .info_wrapper div.actions,
  #texts li:hover .info_wrapper div.actions {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
  #images li.active_details .details_wrapper, #images li.active_effects .effects_wrapper,
  #overlays li.active_details .details_wrapper,
  #overlays li.active_effects .effects_wrapper,
  #texts li.active_details .details_wrapper,
  #texts li.active_effects .effects_wrapper {
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 10px 10px -10px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 10px 10px -10px inset;
    box-shadow: rgba(0, 0, 0, 0.15) 0 10px 10px -10px inset; }
  #images li .details_wrapper,
  #images li .effects_wrapper,
  #overlays li .details_wrapper,
  #overlays li .effects_wrapper,
  #texts li .details_wrapper,
  #texts li .effects_wrapper {
    /* box */
    width: 100%;
    padding: 30px;
    display: none;
    /* background */
    border: 1px solid #D9DBDB;
    border-top: none;
    background-color: #e9ecec; }
  #images li .fixed_move_actions,
  #overlays li .fixed_move_actions,
  #texts li .fixed_move_actions {
    /* box */
    margin-top: 25px; }
    #images li .fixed_move_actions a,
    #overlays li .fixed_move_actions a,
    #texts li .fixed_move_actions a {
      /* box */
      margin-left: 20px;
      /* font */
      color: #6c757e;
      font-weight: 100;
      text-decoration: underline; }
      #images li .fixed_move_actions a:hover,
      #overlays li .fixed_move_actions a:hover,
      #texts li .fixed_move_actions a:hover {
        text-decoration: none; }
  #images li .info_wrapper,
  #overlays li .info_wrapper,
  #texts li .info_wrapper {
    /* box */
    height: 50px;
    width: 100%;
    /* background */
    background: #FFF; }
    #images li .info_wrapper select#color,
    #overlays li .info_wrapper select#color,
    #texts li .info_wrapper select#color {
      /* box */
      width: 620px;
      height: 50px;
      padding-left: 0;
      /* background */
      border: 0;
      background: transparent;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-appearance: none; }
    #images li .info_wrapper div,
    #overlays li .info_wrapper div,
    #texts li .info_wrapper div {
      /* box */
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      height: 50px;
      /* font */
      text-align: center; }
      #images li .info_wrapper div .btn_effect,
      #overlays li .info_wrapper div .btn_effect,
      #texts li .info_wrapper div .btn_effect {
        text-transform: uppercase; }
      #images li .info_wrapper div.frame input, #images li .info_wrapper div.frame_from input, #images li .info_wrapper div.frame_to input, #images li .info_wrapper div.opacity input, #images li .info_wrapper div.arrow_to, #images li .info_wrapper div.perc_symbol,
      #overlays li .info_wrapper div.frame input,
      #overlays li .info_wrapper div.frame_from input,
      #overlays li .info_wrapper div.frame_to input,
      #overlays li .info_wrapper div.opacity input,
      #overlays li .info_wrapper div.arrow_to,
      #overlays li .info_wrapper div.perc_symbol,
      #texts li .info_wrapper div.frame input,
      #texts li .info_wrapper div.frame_from input,
      #texts li .info_wrapper div.frame_to input,
      #texts li .info_wrapper div.opacity input,
      #texts li .info_wrapper div.arrow_to,
      #texts li .info_wrapper div.perc_symbol {
        /* box */
        width: 50px;
        height: 100%;
        margin-right: 15px;
        /* font */
        color: #FFF;
        font-size: 1.20em;
        font-weight: 600;
        text-align: center;
        line-height: 50px;
        /* background */
        background: #56606e;
        border: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
      #images li .info_wrapper div.opacity,
      #overlays li .info_wrapper div.opacity,
      #texts li .info_wrapper div.opacity {
        width: 40px;
        text-align: right; }
      #images li .info_wrapper div.frame_from input, #images li .info_wrapper div.frame_to input, #images li .info_wrapper div.opacity input, #images li .info_wrapper div.arrow_to, #images li .info_wrapper div.opacity,
      #overlays li .info_wrapper div.frame_from input,
      #overlays li .info_wrapper div.frame_to input,
      #overlays li .info_wrapper div.opacity input,
      #overlays li .info_wrapper div.arrow_to,
      #overlays li .info_wrapper div.opacity,
      #texts li .info_wrapper div.frame_from input,
      #texts li .info_wrapper div.frame_to input,
      #texts li .info_wrapper div.opacity input,
      #texts li .info_wrapper div.arrow_to,
      #texts li .info_wrapper div.opacity {
        margin-right: -4px; }
      #images li .info_wrapper div.arrow_to, #images li .info_wrapper div.perc_symbol,
      #overlays li .info_wrapper div.arrow_to,
      #overlays li .info_wrapper div.perc_symbol,
      #texts li .info_wrapper div.arrow_to,
      #texts li .info_wrapper div.perc_symbol {
        /* box */
        width: auto;
        padding: 0 10px; }
      #images li .info_wrapper div.perc_symbol,
      #overlays li .info_wrapper div.perc_symbol,
      #texts li .info_wrapper div.perc_symbol {
        padding-left: 5px; }
      #images li .info_wrapper div.opacity input,
      #overlays li .info_wrapper div.opacity input,
      #texts li .info_wrapper div.opacity input {
        margin-right: 0; }
      #images li .info_wrapper div.actions,
      #overlays li .info_wrapper div.actions,
      #texts li .info_wrapper div.actions {
        float: right;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        /* aimation */
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        -webkit-transition-property: opacity;
        transition-property: opacity;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -moz-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in; }
        #images li .info_wrapper div.actions span,
        #overlays li .info_wrapper div.actions span,
        #texts li .info_wrapper div.actions span {
          /* box */
          height: 100%;
          width: 75px;
          float: left;
          /* font */
          color: #FFF;
          line-height: 50px;
          text-align: center;
          cursor: pointer;
          font-weight: 400;
          /* background */
          background-color: #F34541;
          /* aimation */
          -moz-transition-property: all;
          -o-transition-property: all;
          -webkit-transition-property: all;
          transition-property: all;
          -moz-transition-duration: 0.2s;
          -o-transition-duration: 0.2s;
          -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -moz-transition-timing-function: ease-in;
          -o-transition-timing-function: ease-in;
          -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in; }
          #images li .info_wrapper div.actions span.btn_upload,
          #overlays li .info_wrapper div.actions span.btn_upload,
          #texts li .info_wrapper div.actions span.btn_upload {
            width: 85px;
            background-color: #f1c40f; }
            #images li .info_wrapper div.actions span.btn_upload:hover,
            #overlays li .info_wrapper div.actions span.btn_upload:hover,
            #texts li .info_wrapper div.actions span.btn_upload:hover {
              background-color: #c29d0b; }
          #images li .info_wrapper div.actions span.btn_details,
          #overlays li .info_wrapper div.actions span.btn_details,
          #texts li .info_wrapper div.actions span.btn_details {
            background-color: #BBB; }
            #images li .info_wrapper div.actions span.btn_details:hover,
            #overlays li .info_wrapper div.actions span.btn_details:hover,
            #texts li .info_wrapper div.actions span.btn_details:hover {
              background-color: #a2a2a2; }
          #images li .info_wrapper div.actions span.btn_save,
          #overlays li .info_wrapper div.actions span.btn_save,
          #texts li .info_wrapper div.actions span.btn_save {
            background-color: #76b448; }
            #images li .info_wrapper div.actions span.btn_save:hover,
            #overlays li .info_wrapper div.actions span.btn_save:hover,
            #texts li .info_wrapper div.actions span.btn_save:hover {
              background-color: #5e9039; }
          #images li .info_wrapper div.actions span.btn_effects,
          #overlays li .info_wrapper div.actions span.btn_effects,
          #texts li .info_wrapper div.actions span.btn_effects {
            background-color: #00BBB7; }
            #images li .info_wrapper div.actions span.btn_effects:hover,
            #overlays li .info_wrapper div.actions span.btn_effects:hover,
            #texts li .info_wrapper div.actions span.btn_effects:hover {
              background-color: #008885; }
          #images li .info_wrapper div.actions span:hover,
          #overlays li .info_wrapper div.actions span:hover,
          #texts li .info_wrapper div.actions span:hover {
            background-color: #f01611; }
      #images li .info_wrapper div.image_content, #images li .info_wrapper div.image_source, #images li .info_wrapper div.content, #images li .info_wrapper div.color,
      #overlays li .info_wrapper div.image_content,
      #overlays li .info_wrapper div.image_source,
      #overlays li .info_wrapper div.content,
      #overlays li .info_wrapper div.color,
      #texts li .info_wrapper div.image_content,
      #texts li .info_wrapper div.image_source,
      #texts li .info_wrapper div.content,
      #texts li .info_wrapper div.color {
        /* box */
        margin: 0;
        /* font */
        font-size: 1.1em;
        font-weight: 600;
        line-height: 50px; }
        #images li .info_wrapper div.image_content input, #images li .info_wrapper div.image_source input, #images li .info_wrapper div.content input, #images li .info_wrapper div.color input,
        #overlays li .info_wrapper div.image_content input,
        #overlays li .info_wrapper div.image_source input,
        #overlays li .info_wrapper div.content input,
        #overlays li .info_wrapper div.color input,
        #texts li .info_wrapper div.image_content input,
        #texts li .info_wrapper div.image_source input,
        #texts li .info_wrapper div.content input,
        #texts li .info_wrapper div.color input {
          /* box */
          width: 630px;
          /* font */
          color: #6c757e;
          font-size: 1.1em;
          font-weight: 600;
          /* background */
          border: none;
          background: #FFF;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none; }
      #images li .info_wrapper div.image_source,
      #overlays li .info_wrapper div.image_source,
      #texts li .info_wrapper div.image_source {
        /* box */
        margin-left: 20px;
        width: 295px;
        /* font */
        font-weight: normal;
        text-align: left; }
      #images li .info_wrapper div.image_content input,
      #overlays li .info_wrapper div.image_content input,
      #texts li .info_wrapper div.image_content input {
        width: 225px; }
      #images li .info_wrapper div.color input,
      #overlays li .info_wrapper div.color input,
      #texts li .info_wrapper div.color input {
        width: 620px; }

#images li.error .info_wrapper div.image_source .source {
  color: #f01611; }
  #images li.error .info_wrapper div.image_source .source:before {
    content: "\f165";
    /* box */
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    /* font */
    color: #f01611;
    font-size: 1.25em;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    /* smoothing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.texts_details_form .effects_wrapper .effect-button,
.images_details_form .effects_wrapper .effect-button,
.details_form .effects_wrapper .effect-button {
  /* box */
  margin-right: 10px;
  padding: 10px 15px;
  /* font */
  font-weight: 400;
  color: #c5c7c7;
  /* background */
  border: 1px solid #D9DBDB;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
  .texts_details_form .effects_wrapper .effect-button:hover,
  .images_details_form .effects_wrapper .effect-button:hover,
  .details_form .effects_wrapper .effect-button:hover {
    /* font */
    color: #6c757e;
    text-decoration: none;
    /* background */
    border: 1px solid #D9DBDB;
    background: #e9ecec;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
  .texts_details_form .effects_wrapper .effect-button.active,
  .images_details_form .effects_wrapper .effect-button.active,
  .details_form .effects_wrapper .effect-button.active {
    color: #6c757e;
    border-color: #6c757e; }
.texts_details_form .details_wrapper .nav-tabs li.active a,
.images_details_form .details_wrapper .nav-tabs li.active a,
.details_form .details_wrapper .nav-tabs li.active a {
  border-color: #6c757e; }
.texts_details_form .details_wrapper .nav-tabs li a:hover,
.images_details_form .details_wrapper .nav-tabs li a:hover,
.details_form .details_wrapper .nav-tabs li a:hover {
  color: #6c757e; }
.texts_details_form .details_wrapper label,
.images_details_form .details_wrapper label,
.details_form .details_wrapper label {
  /* box */
  width: 100px;
  margin-bottom: 0;
  line-height: 12px;
  display: inline-block;
  vertical-align: bottom;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
.texts_details_form .details_wrapper input,
.images_details_form .details_wrapper input,
.details_form .details_wrapper input {
  /* box */
  width: 300px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  /* background */
  background: none;
  border: none;
  border-bottom: 1px solid #c5c7c7;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
.texts_details_form .details_wrapper .styled-select,
.images_details_form .details_wrapper .styled-select,
.details_form .details_wrapper .styled-select {
  width: 300px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  /* background */
  border-bottom: 1px solid #c5c7c7; }
  .texts_details_form .details_wrapper .styled-select select,
  .images_details_form .details_wrapper .styled-select select,
  .details_form .details_wrapper .styled-select select {
    /* box */
    width: 280px;
    padding: 5px;
    margin-left: 10px;
    /* background */
    border: 0;
    background: transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }
.texts_details_form .details_wrapper .left_wrapper,
.images_details_form .details_wrapper .left_wrapper,
.details_form .details_wrapper .left_wrapper {
  width: 47%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
.texts_details_form .details_wrapper .right_wrapper,
.images_details_form .details_wrapper .right_wrapper,
.details_form .details_wrapper .right_wrapper {
  width: 47%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }

/* ************************************************************************************************************************************** */
/* **                                                                RENDER                                                            ** */
/* ************************************************************************************************************************************** */
.page_title {
  margin-bottom: 15px;
  text-align: center; }
  .page_title h2 {
    font-size: 2.15em; }

.info_items {
  margin-bottom: 40px; }

.carousel .carousel-inner {
  text-align: center; }
  .carousel .carousel-inner p {
    font-size: 1.25em; }
.carousel .carousel-indicators {
  /* box */
  margin-bottom: 25px;
  /* position */
  position: relative;
  bottom: 0; }
  .carousel .carousel-indicators li {
    /* box */
    width: 13px;
    height: 13px;
    margin: 0;
    /* background */
    border-color: #D9DBDB; }
    .carousel .carousel-indicators li.active {
      background-color: #e9ecec; }

.render_info,
.frames_info,
.compile_info,
.compile_info_2,
.loading_audio_steps,
.loading_video_steps {
  /* box */
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 30px;
  /* font */
  text-align: left;
  /* background */
  border: 1px solid #D9DBDB;
  background-color: #e9ecec; }
  .render_info p,
  .frames_info p,
  .compile_info p,
  .compile_info_2 p,
  .loading_audio_steps p,
  .loading_video_steps p {
    margin: 10px 0 0 0; }
    .render_info p strong,
    .frames_info p strong,
    .compile_info p strong,
    .compile_info_2 p strong,
    .loading_audio_steps p strong,
    .loading_video_steps p strong {
      text-align: right;
      margin-right: 15px;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
    .render_info p:first-child,
    .frames_info p:first-child,
    .compile_info p:first-child,
    .compile_info_2 p:first-child,
    .loading_audio_steps p:first-child,
    .loading_video_steps p:first-child {
      margin: 0; }

.render_info p strong {
  width: 200px; }

.frames_info p strong {
  width: 110px; }

.compile_info div,
.compile_info_2 div,
.loading_audio_steps div,
.loading_video_steps div {
  /* box */
  width: 300px;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  /* font */
  text-align: center; }
  .compile_info div .fa-spinner,
  .compile_info div .fa-check-circle-o,
  .compile_info_2 div .fa-spinner,
  .compile_info_2 div .fa-check-circle-o,
  .loading_audio_steps div .fa-spinner,
  .loading_audio_steps div .fa-check-circle-o,
  .loading_video_steps div .fa-spinner,
  .loading_video_steps div .fa-check-circle-o {
    margin-top: 10px;
    font-size: 3em; }
  .compile_info div .fa-check-circle-o,
  .compile_info_2 div .fa-check-circle-o,
  .loading_audio_steps div .fa-check-circle-o,
  .loading_video_steps div .fa-check-circle-o {
    color: #91c46b; }
  .compile_info div.inactive strong,
  .compile_info_2 div.inactive strong,
  .loading_audio_steps div.inactive strong,
  .loading_video_steps div.inactive strong {
    color: #D9DBDB; }
  .compile_info div.small_vid,
  .compile_info_2 div.small_vid,
  .loading_audio_steps div.small_vid,
  .loading_video_steps div.small_vid {
    margin-left: 30px; }

.compile_info_2 {
  display: none; }

.loading_video_steps div {
  width: 275px; }

.video-row {
  /* box */
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 30px;
  /* background */
  border: 1px solid #D9DBDB;
  background-color: #e9ecec; }
  .video-row.video-big {
    margin-right: 25px; }
  .video-row.video-small {
    margin-left: 25px; }
  .video-row video {
    margin-bottom: 20px; }
  .video-row h3 {
    /* box */
    margin: 0 0 20px 0;
    /* font */
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    color: #c5c7c7; }
  .video-row a {
    /* box */
    width: 100%;
    padding: 0 25px;
    /* font */
    color: #FFF;
    font-weight: 400;
    /* background */
    border-bottom: 3px solid #76b448;
    background-color: #91c46b; }
    .video-row a .mb {
      font-size: 0.75em;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
      opacity: 0.75; }
    .video-row a:hover {
      /* font */
      text-decoration: none;
      /* background */
      background-color: #76b448; }

#ninja_download {
  margin: 30px 0 40px 0; }
  #ninja_download a {
    /* box */
    width: auto;
    padding: 0 25px;
    /* font */
    color: #FFF;
    font-weight: 400;
    /* background */
    border-bottom: 3px solid #76b448;
    background-color: #91c46b; }
    #ninja_download a:hover {
      /* font */
      text-decoration: none;
      /* background */
      background-color: #76b448; }

.error_message {
  /* box */
  width: 100%;
  padding: 15px 0;
  display: none;
  /* position */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1999;
  /* font */
  font-weight: 600;
  color: #FFF;
  font-size: 1.25em;
  text-align: center;
  line-height: 50px;
  /* background */
  background: #F34541; }
  .error_message p {
    padding: 0;
    margin: 0; }

#backup_wrapper {
  margin-top: 50px;
  margin-bottom: 40px; }
  #backup_wrapper .ninja_btn {
    /* box */
    display: inline-block;
    vertical-align: bottom;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    /* background */
    background: #BBB;
    border-bottom: 3px solid #a2a2a2; }
    #backup_wrapper .ninja_btn:hover {
      background: #a2a2a2; }

#video_info {
  /* box */
  margin-bottom: 25px;
  /* font */
  text-align: center; }
  #video_info a {
    /* font */
    text-decoration: none;
    color: #76b448;
    /* background */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
    opacity: 0.35;
    cursor: default; }
    #video_info a.active {
      /* background */
      cursor: pointer;
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1; }
    #video_info a:hover {
      text-decoration: none; }
  #video_info ul {
    /* font */
    font-size: 1.15em;
    list-style-type: none; }
    #video_info ul li {
      /* box */
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      margin: 0 15px;
      /* background */
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
      opacity: 0.35; }
      #video_info ul li.active {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1; }
      #video_info ul li span {
        font-weight: 600; }

.steps_wrapper {
  display: none; }

/* ************************************************************************************************************************************** */
/* **                                                                TOOLTIP                                                           ** */
/* ************************************************************************************************************************************** */
#coord_tooltip {
  /* box */
  padding: 5px 10px;
  z-index: 999;
  display: none;
  /* position */
  position: absolute;
  /* font */
  color: #333;
  font-weight: 400;
  /* background */
  border: 1px solid #333;
  background: rgba(200, 200, 200, 0.8); }

.dropbox-dropin-btn,
.dropbox-dropin-btn:link {
  /* box */
  height: 47px !important;
  padding: 0 25px !important;
  margin-left: 25px !important;
  /* font */
  color: #6c757e !important;
  line-height: 47px !important;
  font-size: 1.25em !important;
  font-weight: normal !important;
  font-family: 'Open Sans', sans-serif !important;
  /* border */
  border: none !important;
  border-bottom: 3px solid #e9ecec !important;
  background: #FFF !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important;
  /* animation */
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
  .dropbox-dropin-btn:hover,
  .dropbox-dropin-btn:link:hover {
    background: #e9ecec !important; }
  .dropbox-dropin-btn span.dropin-btn-status,
  .dropbox-dropin-btn:link span.dropin-btn-status {
    /* box */
    margin-right: 10px !important;
    margin-top: -5px !important;
    /* position */
    vertical-align: middle !important; }
