</div>

{blob blob="progressblob" assign="progressblob"}
{eval $progressblob}

<div class="container text-center">

  <div class="page_title">
    <h2>Compiling the Frames into Video</h2>
  </div>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <p>At this point we are compiling the frames into video.</p>
      </div>
      <div class="item">
        <p>It is not possible to a progress.</p>
      </div>
      <div class="item">
        <p>If this step takes a very short time, something is wrong.</p>
      </div>
      <div class="item">
        <p>If this step stops on a sub step, something is wrong.</p>
      </div>
      <div class="item">
        <p>Normally, just a few minutes...</p>
      </div>
    </div>

    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>
  </div>

  <div class="compile_info">
    <div class="big_vid">
      <p><strong>Compiling 1280x720</strong></p>
      
      <p>
        <i class="fa fa-spinner fa-spin hide"></i>
        <i class="fa fa fa-check-circle-o hide"></i>
      </p>
    </div>

    <div class="small_vid inactive">
      <p><strong>Compiling 720x720</strong></p>
      
      <p>
        <i class="fa fa-spinner fa-spin hide"></i>
        <i class="fa fa fa-check-circle-o hide"></i>
      </p>
    </div>
  </div>

  <div class="compile_info_2">
    <div class="big_vid_2">
      <p><strong>Compiling 1280x720 w/ bumper</strong></p>
      
      <p>
        <i class="fa fa-spinner fa-spin hide"></i>
        <i class="fa fa fa-check-circle-o hide"></i>
      </p>
    </div>

    <div class="small_vid_2 inactive">
      <p><strong>Compiling 720x720 w/ bumper</strong></p>
      
      <p>
        <i class="fa fa-spinner fa-spin hide"></i>
        <i class="fa fa fa-check-circle-o hide"></i>
      </p>
    </div>
  </div>

</div>


  <script>
    $(document).ready(function() { 
    
      var data = {};
      data.action = "compile_step_1";

      var big_vid = $(".big_vid");
      var small_vid = $(".small_vid");

      var big_vid_2 = $(".big_vid_2");
      var small_vid_2 = $(".small_vid_2");

      big_vid.find(".fa-spinner").removeClass('hide');

      $.post( document.location.href , data , function( response ) {
        if( response == "OK" ) {
          
          big_vid.find(".fa-spinner").addClass('hide');
          big_vid.find(".fa-check-circle-o").removeClass('hide');

          small_vid.find(".fa-spinner").removeClass('hide');
          small_vid.removeClass('inactive');

          var data2 = {};
          data2.action = "compile_step_2";
          $.post( document.location.href , data2 , function( response ) {
            if( response == "OK" ) {

              small_vid.find(".fa-spinner").addClass('hide');
              small_vid.find(".fa-check-circle-o").removeClass('hide');

              $('.compile_info').fadeOut('300', function() {
                $('.compile_info_2').fadeIn('300');
                $('.compile_info_2').css('display', 'inline-block');
              });

              big_vid_2.find(".fa-spinner").removeClass('hide');
              big_vid_2.removeClass('inactive');

              var data3 = {};
              data3.action = "compile_step_3";
              $.post( document.location.href , data3 , function( response ) {

                if( response == "OK" ) {
                  big_vid_2.find(".fa-spinner").addClass('hide');
                  big_vid_2.find(".fa-check-circle-o").removeClass('hide');

                  small_vid_2.find(".fa-spinner").removeClass('hide');
                  small_vid_2.removeClass('inactive');

                  var data4 = {};
                  data4.action = "compile_step_4";
                  $.post( document.location.href , data4 , function( response ) {

                    if( response == "OK" ) {

                      small_vid_2.find(".fa-spinner").addClass('hide');
                      small_vid_2.find(".fa-check-circle-o").removeClass('hide');

                      document.location.href = "?page=download";

                    }
                  });
                }
              });              
            }
          });
        }
      });
    });
  </script>
