</div>

{blob blob="progressblob" assign="progressblob"}
{eval $progressblob}

<div class="container">

  <div class="page_title">
    <h2>Here's your Ninja Nieuws!</h2>
  </div>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <p>You can download your Ninja Nieuws.</p>
      </div>
      <div class="item">
        <p>Be sure to download also the ninja.json file, it has the meta information.</p>
      </div> 
      <div class="item">
        <p>If you ever need to rebuild the video this file will come in handy.</p>
      </div>

    </div>

    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
  </div>

  <br />

  <div class="row text-center">
    <ul class="nav nav-tabs" style="display: inline-block;">
      <li class="active"><a href="#without" data-toggle="tab">Without bumper</a></li>
      <li class=""><a href="#with" data-toggle="tab">With bumper</a></li>
    </ul>
  </div>

  <br />

  <div class="tab-content">

    <div class="tab-pane active" id="without">
      <div class="row text-center">
        <div class="text-center video-row video-big">
          <h3>1280x720</h3>
          <video width="320" height="180" controls>
            <source src="{$file1}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="download_wrapper">
            <a href="{$file1}" download>Download <span class="mb">[ {number_format( $file1_size / 1000000 , 2 )}mb ]</span></a>
          </div>
        </div>
        <div class="text-center video-row video-small">
          <h3>720x720</h3>
          <video width="180" height="180" controls>
            <source src="{$file2}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="download_wrapper">
            <a href="{$file2}" download>Download <span class="mb">[ {number_format( $file2_size / 1000000 , 2 )}mb ]</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="with">
      <div class="row text-center">
        <div class="text-center video-row video-big">
          <h3>1280x720</h3>
          <video width="320" height="180" controls>
            <source src="{$file3}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="download_wrapper">
            <a href="{$file3}" download>Download <span class="mb">[ {number_format( $file3_size / 1000000 , 2 )}mb ]</span></a>
          </div>
        </div>
        <div class="text-center video-row video-small">
          <h3>720x720</h3>
          <video width="180" height="180" controls>
            <source src="{$file4}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="download_wrapper">
            <a href="{$file4}" download>Download <span class="mb">[ {number_format( $file4_size / 1000000 , 2 )}mb ]</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="backup_wrapper" class="row text-center">
    <a href="{$cwd}/ninja.json" id="download" class="ninja_btn download" download>Download Backup</a>
    <a href="{$zip}" class="dropbox-saver">Add to Dropbox</a>
  </div>

</div>
