</div>

{blob blob="progressblob" assign="progressblob"}
{eval $progressblob}

<div class="container text-center">

  <div class="page_title">
    <h2>Compiling Images, Texts, Overlays onto Frames</h2>
  </div>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <p>We are making individual images here.</p>
      </div>
      <div class="item">
        <p>When it done we will compile the images into a video.</p>
      </div>
    </div>

    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>
  </div>

   <div class="frames_info">
    <p><strong>Total Frames:</strong> 350</p>
    <p><strong>Current Frame:</strong> <span id="current">0</span></p>
    <p><strong>Frame Time:</strong> <span id="frametime">0</span></p>
    <p><strong>Time Left:</strong> <span id="timeleft">0</span></p>
  </div>

</div>

<script>

  var current_frame = 1;
  var total_frames = 350;

  function renderframe() {

    var d1 = new Date();

    if( current_frame == total_frames ) {
      document.location.href = "?page=compile";
      return false;
    }

    $.get( "?page=framecompiling&frame=" + current_frame  , function( response ) {
      if( response == "OK" ) {
        $("#current").text( current_frame );
        current_frame++;
        var d2 = new Date();

        var diff  = d2 - d1;
        var tl    = ( diff / 1000 ).toFixed( 2 );
        var time  = ( tl * ( total_frames - current_frame ) ).toFixed( 2 );

        $("#frametime").text( tl );
        $("#timeleft").text( secondsToHms(time) );

        renderframe();
      }
    });
  }


  $(document).ready(function() { 

    renderframe();

  });

</script>
