</div>

{blob blob="progressblob" assign="progressblob"}
{eval $progressblob}

{blob blob="messageblob" assign="messageblob"}
{eval $messageblob}

<div class="container">

   <div class="page_title">
    <h2>Ninja Audio</h2>
  </div>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <p>Here you need to upload a .mp3 or .wav file.</p>
      </div>
      <div class="item">
        <p>This is the 14 second long audio. No bumper.</p>
      </div> 

    </div>

    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>
  </div>

<h3></h3>

<p>
  
</p>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <form role="form" action="" method="post" class="fileUpload" enctype="multipart/form-data">

        <div class="form-group">
          <div class="drag-drop">
            <span><i class="glyphicon glyphicon-cloud-upload"></i><br />Drag & Drop</span>
          </div>
        </div>

        <div class="form-group">
          <input type="file" name="deaudio" id="deaudio" class="fileElem">
          <label for="deaudio" class="fileSelect"><i class="fa fa-spinner fa-spin hide"></i> <span class="txt step1">Or select file</span></label>
        </div>

      </form>
    </div>
  </div>

  <div class="row text-center steps_wrapper">
    <div class="loading_audio_steps">
      <div class="step2">
        <p><strong>Padding & Slicing audio</strong></p>
        
        <p>
          <i class="fa fa-spinner fa-spin hide"></i>
          <i class="fa fa fa-check-circle-o hide"></i>
        </p>
      </div>

    </div>
  </div>

  <div class="row text-center">
    <a href="?page=step3" class="hide link_next">Next step<i class="glyphicon glyphicon-arrow-right"></i></a>
  </div>

</div>
