</div>

{blob blob="progressblob" assign="progressblob"}
{eval $progressblob}

<div id="stage" style="background-color: #000; position: absolute; top: -5000px;"></div>
<!-- <div id="stage" style="background-color: #000;"></div> -->

<div class="container text-center">

  <div class="page_title">
    <h2>RENDERING</h2>
  </div>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <p>Saving the info needed for each frame.</p>
      </div>
      <div class="item">
        <p>Do not switch tabs or start your screensaver. The browser needs the CPU.</p>
      </div>
    </div>

    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>
  </div>

  <div class="render_info">
    <p><strong>Current Working Directory:</strong> {$cwd}</p>
    <p><strong>Current Frame:</strong> <span id="currentframe">0</span></p>
    <p><strong>Total Frames:</strong> 350</p>
    <p><strong>Estimated Time:</strong> <span id="estimation"></span></p>
    <p><strong>Current Factor:</strong> {$factor}</p>
    <p><strong>Safe Factor:</strong> <span id="safefactor"></span></p>
  </div>

  
<script>

    var videoimages      = {};   // hold the images that we will work with.
    var videoimagesready = 0;    // lets us know how many loaded and ready to anim.
  
    var stage = new Kinetic.Stage({
        container: 'stage',
        width: 1280,
        height: 720
      });

    
    var backgroundlayer = new Kinetic.Layer();
    var imageslayer     = new Kinetic.Layer();
    var overlayslayer   = new Kinetic.Layer();
    var textslayer      = new Kinetic.Layer();
    
    stage.add( backgroundlayer );
    stage.add( imageslayer );
    stage.add( overlayslayer );
    stage.add( textslayer );

    var imageslayers = [];
    var overlayslayers = [];
    var textslayers = [];

    // fixed graphics elements
    var backgroundBlackRect = new Kinetic.Rect({

      x: 0,
      y: 0,
      fill: 'black',
      width: 640,
      height: 360,

    });
    backgroundlayer.add( backgroundBlackRect );

   
    var fps          = {$frame_rate};
    var factor       = {$factor};
    var timeout      = ( 1000 / fps ) * factor;

    var currentFrame = 0;
    var totalFrames  = 350;
      
    var ninja = {$ninja};  
    
    
    normalizeNinja( ninja );
    

    //// START ANIM ////
    function render() {


      $("#currentframe").text( currentFrame );
      
      if ( currentFrame == totalFrames ) {

        var data = {};
        data.ajax = "save";
        data.textframes = JSON.stringify( textslayers );
        data.imageframes = JSON.stringify( imageslayers );
        data.overlayframes = JSON.stringify( overlayslayers );

        $.post( document.location.href , data , function( response ) {

            if( response =="OK" ) {
              document.location.href = "?page=framecompiling";
            }

        });

        
        return false;
        
      }

      // The over lays layers is simple either we are showing one or we are not.
      overlayslayer.destroyChildren();
      for( var k in ninja.overlays ) {
        
        if( currentFrame >= ninja.overlays[k].startFrame &&  currentFrame <= ninja.overlays[k].endFrame ) {

          var overlay = new Kinetic.Rect({
            
            x: 0,
            y: 0,
            width: 1280,
            height: 720,
            fill: ninja.overlays[k].color,

            opacity: ( ninja.overlays[k].transparency / 100 ).toFixed( 3 )

          });

          overlayslayer.add( overlay );

        }
      }

      
      // IMAGES
      // IMAGES
      // IMAGES 
      for( var k in ninja.images ) {

        //console.log( k );

        // Passed a cue fire text cue.
        if( ninja.images[k].frame <= currentFrame && typeof ninja.images[k].fired === "undefined" ) {
         
          var actor = ninja.images[k];
          
          actor.image = videoimages[k];

          // create from ninja images.
          var ii = new Kinetic.Image( actor );

          imageslayer.add( ii );
          
          var intro_tween = {};

          intro_tween.node = ii;
          intro_tween.duration = ii.attrs.intro_duration * factor;
          intro_tween.easing = Kinetic.Easings[ii.attrs.intro_easing];
          intro_tween.x = ii.attrs.intro_x;
          intro_tween.y = ii.attrs.intro_y;
          intro_tween.width = ii.attrs.intro_width;
          intro_tween.height = ii.attrs.intro_height;
          intro_tween.opacity = ii.attrs.intro_opacity;
          

          // after intro tween call main tween.
          intro_tween.onFinish = function() {

            var main_tween = {};
            main_tween.node = this.node;
            main_tween.duration = this.node.attrs.duration * factor;

            // after the maintween now do the outro
            main_tween.onFinish = function() {

              var outro_tween = {};

              outro_tween.node = this.node;
              outro_tween.duration = this.node.attrs.outro_duration * factor;
              outro_tween.easing = Kinetic.Easings[this.node.attrs.outro_easing]
              outro_tween.x = this.node.attrs.outro_x;
              outro_tween.y = this.node.attrs.outro_y;
              outro_tween.width = this.node.attrs.outro_width;
              outro_tween.height = this.node.attrs.outro_height;
              outro_tween.opacity = this.node.attrs.outro_opacity;
              


  
              outro_tween.onFinish = function() {
                this.node.destroy();
              }

              outro_tween = new Kinetic.Tween( outro_tween );
              outro_tween.play();

            }

            main_tween = new Kinetic.Tween( main_tween );
            main_tween.play();

          }

          intro_tween = new Kinetic.Tween( intro_tween );
          intro_tween.play();
          
          
          ninja.images[k].fired = true; 
        }
      } // for loop images




      for( var k in ninja.texts ) {
        // Passed a cue fire text cue.
        if( ninja.texts[k].frame <= currentFrame && typeof ninja.texts[k].fired === "undefined" ) {
         
          var actor = ninja.texts[k];
          var text = new Kinetic.Text( actor );

          if( actor.center == "false" ) {

            actor.center = false;
            
          }

          if( actor.center ) {
            text.offsetX( text.width() / 2 );
            text.offsetY( text.height() / 2 );
          }

          text.fontStyle( actor.fontStyle );
          textslayer.add( text );
          
          
          var intro_tween = {};

          intro_tween.node = text;
          intro_tween.duration = text.attrs.intro_duration * factor;
          intro_tween.easing = Kinetic.Easings[text.attrs.intro_easing];
          intro_tween.x = text.attrs.intro_x;
          intro_tween.y = text.attrs.intro_y;
          intro_tween.opacity = text.attrs.intro_opacity;
          intro_tween.fontSize = text.attrs.intro_fontSize;

          // after intro tween call main tween.
          intro_tween.onFinish = function() {

            var main_tween = {};
            main_tween.node = this.node;
            main_tween.duration = this.node.attrs.duration * factor;

            // after the maintween now do the outro
            main_tween.onFinish = function() {

              var outro_tween = {};

              outro_tween.node = this.node;
              outro_tween.duration = this.node.attrs.outro_duration * factor;
              outro_tween.easing = Kinetic.Easings[this.node.attrs.outro_easing]
              outro_tween.x = this.node.attrs.outro_x;
              outro_tween.y = this.node.attrs.outro_y;
              outro_tween.opacity = this.node.attrs.outro_opacity;
              outro_tween.fontSize = this.node.attrs.outro_fontSize;

              outro_tween.onFinish = function() {
                this.node.destroy();
              }

              outro_tween = new Kinetic.Tween( outro_tween );
              outro_tween.play();
            }

            main_tween = new Kinetic.Tween( main_tween );
            main_tween.play();

          }

          intro_tween = new Kinetic.Tween( intro_tween );
          intro_tween.play();
          
          ninja.texts[k].fired = true; 
      
        }
      }

      // Draw the layers
      backgroundlayer.draw();
      imageslayer.draw();
      overlayslayer.draw();
      textslayer.draw();

      //draw the stage
      stage.draw();

      setTimeout( render , timeout );

      // Save the json info of the frame and figure out the factor.
      var d1 = new Date();
      
        imageslayers[currentFrame] = imageslayer.toJSON();
        textslayers[currentFrame] = textslayer.toJSON();
        overlayslayers[currentFrame] = overlayslayer.toJSON();

      var d2 = new Date();

      // SAFE FACTOR
      var sf = 2 * ( ( d2 - d1 ) * fps / 1000 );

      $("#safefactor").text( sf );
      if( sf > factor ) {
        $("#safefactor").addClass( "text-warning" );
      }
      else {
        $("#safefactor").removeClass( "text-warning" );
      }

      var est = Math.floor( timeout * ( totalFrames - currentFrame ) / 1000 );
      
      $("#estimation").text( secondsToHms(est) );
      
      currentFrame++;
                      
    }

    $("document").ready(function() {

      if( Object.keys( ninja.images ).length == 0 ) {
        render();
      }
      
      for( var i in ninja.images ) {
        videoimages[i] = new Image();
        videoimages[i].onload = function() {

          videoimagesready++;

          if( videoimagesready == Object.keys( ninja.images ).length ) {
            render();
          }

        };
        videoimages[i].src = CWD + "/" + ninja.images[i].src;

      }
      
    });
    

    

</script>
