</div>

{blob blob="progressblob" assign="progressblob"}
{eval $progressblob}

{blob blob="messageblob" assign="messageblob"}
{eval $messageblob}

<div class="container">

  <div class="page_title">
    <h2>Ninja JSON</h2>
  </div>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <p>Here if you have a ninja.json already made then you want to upload this here.</p>
      </div>
      <div class="item">
        <p>A ninja.json files contains the animations, image and meta information for the video.</p>
      </div> 
      <div class="item">
        <p>You can skip this step and go right to the edit if your choose.</p>
      </div>

    </div>

    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <form role="form" action="" method="post" class="fileUpload" enctype="multipart/form-data">

        <div class="form-group">
          <div class="drag-drop">
            <span><i class="glyphicon glyphicon-cloud-upload"></i><br />Drag & Drop</span>
          </div>
        </div>

        <div class="form-group">
          <input type="file" name="detext" id="detext" class="fileElem">
          <label for="detext" class="fileSelect"><i class="fa fa-spinner fa-spin hide"></i> <span class="txt">Or select file</span></label>
        </div>

      </form>
    </div>
  </div>

  <div class="row text-center">
    <a href="?page=step4" class="link_next"><span id="verb">Skip</span> step<i class="glyphicon glyphicon-arrow-right"></i></a>
  </div>

</div>
