</div>

{blob blob="progressblob" assign="progressblob"}
{eval $progressblob}

{blob blob="messageblob" assign="messageblob"}
{eval $messageblob}

<div id="coord_tooltip">
  x: <span class="x">0</span>, y: <span class="y">0</span>
</div>

<div class="container">

  <div class="page_title">
    <h2>Ninja Preview</h2>
  </div>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <p>Use the controls below to edit the video.</p>
      </div>
      <div class="item">
        <p>The video will continously loop.
      </div> 
      <div class="item">
         <p>At the start of each loop your edits and changes will be taken in and used.</p>
      </div>

    </div>

    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>
  </div>

  <div class="row text-center" id="video">
    
    <div id="stage"></div>
    
    <div id="video_info">
      <ul>
        <li id="current-frame">Frame: <span>0</span></li>
        <li id="current-x">X-coordinate: <span>0</span></li>
        <li id="current-y">Y-coordinate: <span>0</span></li>
      </ul>

      <a href="#">Copy coordinates to the text details?</a>
    </div>

    <button id="pnp" class="ninja_btn play">Pause</button>
    <button id="restart" class="ninja_btn restart">Restart</button>
    <button id="render" class="ninja_btn render">Render</button>
  </div>

  <div id="info">

    <ul class="nav nav-tabs">
      
      <li class="active"><a href="#images" data-toggle="tab">Images</a></li>
      <li><a href="#texts" data-toggle="tab">Texts</a></li>
      <li><a href="#overlays" data-toggle="tab">Color overlays</a></li>
      <li><a href="#meta" data-toggle="tab">Meta info</a></li>
      <li><a href="#frame_tab" data-toggle="tab">Frame calculater</a></li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane" id="texts">
        <ul id="texts-ul">

          {literal}
            <script id="texts-template" type="text/x-handlebars-template">
              {{#textslist}}
              <form class="form-horizontal texts_details_form" action="#" method="post" id="texts_details_form_{{id}}" role="form">

                <li class="texts-row" data-id="{{id}}">
                  <div class="info_wrapper">
                    <div class="frame"><input type="text" name="frame" value="{{frame}}" /></div>

                    <div class="content">
                      <span class="text"><input type="text" name="text" value="{{text}}" /></span>
                    </div>

                    <div class="actions">
                      <span class="btn_effects">Effects</span>
                      <span class="btn_details">Details</span>
                      <span class="btn_remove">Delete</span>
                    </div>
                  </div>

                  <div class="details_wrapper">
                    <ul class="nav nav-tabs">
                      <li class="initial_tab active"><a href="#text_initial_{{id}}" data-toggle="tab">Inital</a></li>
                      <li class="intro_tab"><a href="#text_intro_{{id}}" data-toggle="tab">Intro</a></li>
                      <li class="outro_tab"><a href="#text_outro_{{id}}" data-toggle="tab">Outro</a></li>
                    </ul>

            
                      <ul class="tab-content">
                        <div class="tab-pane active" id="text_initial_{{id}}">  
                          <div class="left_wrapper">       
                            <li>
                              <label for="duration">Duration:</label> 
                              <input type="text" class="form-control" id="duration" name="duration" value="{{duration}}" />
                            </li>

                            <li>
                              <label for="opacity">Opacity:</label>
                              <input type="text" class="form-control" id="opacity" name="opacity" value="{{opacity}}" />
                            </li>

                            <li>
                              <label for="x">X-position:</label>
                              <input type="text" class="form-control" id="x" name="x" value="{{x}}" />
                            </li>
                            
                            <li>
                              <label for="y">Y-position:</label>
                              <input type="text" class="form-control" id="y" name="y" value="{{y}}" />
                            </li>
                          </div>

                          <div class="right_wrapper">
                            <li>
                              <label for="fontSize">Font size:</label>
                              <input type="text" class="form-control" id="fontSize" name="fontSize" value="{{fontSize}}" />
                            </li>
                            
                            <li>
                              <label for="fontFamily">Font family:</label>
                              <div class="styled-select">
                                <select class="form-control" id="fontFamily" name="fontFamily">
                                  
                                  <option value="FuturaLT" {{#is fontFamily "FuturaLT"}} selected {{/is}}>FuturaLT</option>
                                  <option value="FuturaLT-ExtraBold" {{#is fontFamily "FuturaLT-ExtraBold"}} selected {{/is}}>FuturaLT-ExtraBold</option>
                                  <option value="Glyphs" {{#is fontFamily "Glyphs"}} selected {{/is}}>Glyphs</option>
                                  
          
                                </select>
                              </div>
                            </li>
                            
                            <li>
                              <label for="fontStyle">Font style:</label>
                              <div class="styled-select">
                                <select class="form-control" id="fontStyle" name="fontStyle">
                                  

                                  <option value="normal" {{#is fontStyle "normal"}} selected {{/is}}>normal</option>
                                  <option value="bold" {{#is fontStyle "bold"}} selected {{/is}}>bold</option>
                                </select>
                              </div>
                            </li>

                            <li>
                              <label for="center">Centered:</label>
                              <div class="styled-select">
                                <select class="form-control" id="center" name="center">
                                  <option value="true" {{#is center "true"}} selected {{/is}}>true</option>
                                  <option value="false" {{#is center "false"}} selected {{/is}}>false</option>
                                </select>
                              </div>
                            </li>
                          </div>
                        </div>

                        <div class="tab-pane" id="text_intro_{{id}}">
                          <div class="left_wrapper">
                            <li>
                              <label for="intro_duration">Duration</label>
                              <input type="text" class="form-control" id="intro_duration" name="intro_duration" value="{{intro_duration}}" />
                            </li>

                            <li>
                              <label for="intro_opacity">Opacity:</label>
                              <input type="text" class="form-control" id="intro_opacity" name="intro_opacity" value="{{intro_opacity}}" />
                            </li>

                            <li>
                              <label for="intro_x">X-position:</label>
                              <input type="text" class="form-control" id="intro_x" name="intro_x" value="{{intro_x}}" />
                            </li>
                            
                            <li>
                              <label for="intro_y">Y-position:</label>
                              <input type="text" class="form-control" id="intro_y" name="intro_y" value="{{intro_y}}" />
                            </li>
                            
                            
                          </div>

                          <div class="right_wrapper">

                            <li>
                              <label for="intro_easing">Easing:</label>
                              <div class="styled-select">
                                <select class="form-control" id="intro_easing" name="intro_easing">
                                  <option value="Linear" {{#is intro_easing "Linear"}} selected {{/is}}>Linear</option>
                                  <option value="EaseIn" {{#is intro_easing "EaseIn"}} selected {{/is}}>EaseIn</option>
                                  <option value="EaseOut" {{#is intro_easing "EaseOut"}} selected {{/is}}>EaseOut</option>
                                  <option value="EaseInOut" {{#is intro_easing "EaseInOut"}} selected {{/is}}>EaseInOut</option>
                                  <option value="BackEaseIn" {{#is intro_easing "BackEaseIn"}} selected {{/is}}>BackEaseIn</option>
                                  <option value="BackEaseInOut" {{#is intro_easing "BackEaseInOut"}} selected {{/is}}>BackEaseInOut</option>
                                  <option value="ElasticEaseIn" {{#is intro_easing "ElasticEaseIn"}} selected {{/is}}>ElasticEaseIn</option>
                                  <option value="ElasticEaseOut" {{#is intro_easing "ElasticEaseOut"}} selected {{/is}}>ElasticEaseOut</option>
                                  <option value="ElasticEaseInOut" {{#is intro_easing "ElasticEaseInOut"}} selected {{/is}}>ElasticEaseInOut</option>
                                  <option value="BounceEaseIn" {{#is intro_easing "BounceEaseIn"}} selected {{/is}}>BounceEaseIn</option>
                                  <option value="BounceEaseOut" {{#is intro_easing "BounceEaseOut"}} selected {{/is}}>BounceEaseOut</option>
                                  <option value="BounceEaseInOut" {{#is intro_easing "BounceEaseInOut"}} selected {{/is}}>BounceEaseInOut</option>
                                  <option value="StrongEaseIn" {{#is intro_easing "StrongEaseIn"}} selected {{/is}}>StrongEaseIn</option>
                                  <option value="StrongEaseOut" {{#is intro_easing "StrongEaseOut"}} selected {{/is}}>StrongEaseOut</option>
                                  <option value="StrongEaseInOut" {{#is intro_easing "StrongEaseInOut"}} selected {{/is}}>StrongEaseInOut</option>
                                </select>
                              </div>
                            </li>

                            <li>
                              <label for="intro_fontSize">Font size:</label>
                              <input type="text" class="form-control" id="intro_fontSize" name="intro_fontSize" value="{{intro_fontSize}}" />
                            </li>
                            
                            
                          </div>
                        </div>

                        
                        <div class="tab-pane" id="text_outro_{{id}}">
                          <div class="left_wrapper">
                            <li>
                              <label for="outro_duration">Duration:</label>
                              <input type="text" class="form-control" id="outro_duration" name="outro_duration" value="{{outro_duration}}" />
                            </li>
                            
                            <li>
                              <label for="outro_opacity">Opacity:</label>
                              <input type="text" class="form-control" id="outro_opacity" name="outro_opacity" value="{{outro_opacity}}" />
                            </li>

                            <li>
                              <label for="outro_x">X-position:</label>
                              <input type="text" class="form-control" id="outro_x" name="outro_x" value="{{outro_x}}" />
                            </li>
                            
                            <li>
                              <label for="outro_y">Y-position:</label>
                              <input type="text" class="form-control" id="outro_y" name="outro_y" value="{{outro_y}}" />
                            </li>

                            
                          
                          </div>

                          <div class="right_wrapper">

                            <li>
                              <label for="outro_easing">Easing:</label>
                              <div class="styled-select">
                                <select class="form-control" id="outro_easing" name="outro_easing">
                                  <option value="Linear" {{#is outro_easing "Linear"}} selected {{/is}}>Linear</option>
                                  <option value="EaseIn" {{#is outro_easing "EaseIn"}} selected {{/is}}>EaseIn</option>
                                  <option value="EaseOut" {{#is outro_easing "EaseOut"}} selected {{/is}}>EaseOut</option>
                                  <option value="EaseInOut" {{#is outro_easing "EaseInOut"}} selected {{/is}}>EaseInOut</option>
                                  <option value="BackEaseIn" {{#is outro_easing "BackEaseIn"}} selected {{/is}}>BackEaseIn</option>
                                  <option value="BackEaseInOut" {{#is outro_easing "BackEaseInOut"}} selected {{/is}}>BackEaseInOut</option>
                                  <option value="ElasticEaseIn" {{#is outro_easing "ElasticEaseIn"}} selected {{/is}}>ElasticEaseIn</option>
                                  <option value="ElasticEaseOut" {{#is outro_easing "ElasticEaseOut"}} selected {{/is}}>ElasticEaseOut</option>
                                  <option value="ElasticEaseInOut" {{#is outro_easing "ElasticEaseInOut"}} selected {{/is}}>ElasticEaseInOut</option>
                                  <option value="BounceEaseIn" {{#is outro_easing "BounceEaseIn"}} selected {{/is}}>BounceEaseIn</option>
                                  <option value="BounceEaseOut" {{#is outro_easing "BounceEaseOut"}} selected {{/is}}>BounceEaseOut</option>
                                  <option value="BounceEaseInOut" {{#is outro_easing "BounceEaseInOut"}} selected {{/is}}>BounceEaseInOut</option>
                                  <option value="StrongEaseIn" {{#is outro_easing "StrongEaseIn"}} selected {{/is}}>StrongEaseIn</option>
                                  <option value="StrongEaseOut" {{#is outro_easing "StrongEaseOut"}} selected {{/is}}>StrongEaseOut</option>
                                  <option value="StrongEaseInOut" {{#is outro_easing "StrongEaseInOut"}} selected {{/is}}>StrongEaseInOut</option>
                                </select>
                              </div>
                            </li>


                            <li>
                              <label for="outro_fontSize">Font size:</label>
                              <input type="text" class="form-control" id="outro_fontSize" name="outro_fontSize" value="{{outro_fontSize}}" />
                            </li>
                            
                            
                          </div>
                        </div>
                      </ul>
                    </form>
                  </div>

                  {/literal}
                  <div class="effects_wrapper">
                    {foreach from=$effects->text_effects item=effect}
                      {$count =  $effect@iteration}
                      <a href="#" class="effect-button" data-id="{$count - 1}">{$effect->name}</a>
                    {/foreach}
                  </div>
                  {literal}

                </li>
              {{/textslist}}
            </script>
          {/literal}

        </ul>

        <form class="form-inline" id="add_text_form" role="form">
          <div class="form-group">
            <label class="sr-only" for="frame_rate">Frame</label>
            <input type="text" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="frame_rate" name="frame_rate" placeholder="0" required>
          </div>

          <div class="form-group">
            <label class="sr-only" for="text">Text</label>
            <input type="text" class="form-control" id="text" name="text" placeholder="Text" required>
          </div>
          
          <button type="submit" class="btn btn-default add_btn">Add new item</button>
        </form>
      </div>

      <div class="tab-pane active" id="images">
        <ul id="images-ul">
          {literal}
          <script id="images-template" type="text/x-handlebars-template">
            {{#imageslist}}
              <form class="form-horizontal images_details_form fileUpload3" action="#" data-id="{{id}}" method="post" id="images_details_form_{{id}}" role="form">
                <li class="images-row{{#if error}} error{{/if}}" data-id="{{id}}">

                  <div class="info_wrapper">
                    <div class="frame"><input type="text" name="frame" id="frame" value="{{frame}}" /></div>

                    <div class="image_content">
                      <span class="text"><input type="text" name="description" id="description" value="{{description}}" /></span>
                    </div>

                    <div class="image_source">
                      <span class="source">[{{src}}]</span>
                      <input type="hidden" name="src" id="src" value="{{src}}" />
                      <input type="file" name="deimage" id="deimage" class="fileElem hide">
                    </div>

                    <div class="actions">
                      <span class="btn_upload">Re-upload</span>
                      <span class="btn_effects">Effects</span>
                      <span class="btn_details">Details</span>
                      <span class="btn_remove">Delete</span>
                    </div>
                  </div>
                  
                  <div class="details_wrapper">

                    <ul class="nav nav-tabs">
                      <li class="initial_tab active"><a href="#image_initial_{{id}}" data-toggle="tab">Inital</a></li>
                      <li class="intro_tab"><a href="#image_intro_{{id}}" data-toggle="tab">Intro</a></li>
                      <li class="outro_tab"><a href="#image_outro_{{id}}" data-toggle="tab">Outro</a></li>
                    </ul>

                    <ul class="tab-content">
                      <div class="tab-pane active" id="image_initial_{{id}}">
                        <div class="left_wrapper">
                          <li>
                            <label for="x">X-position:</label>
                            <input type="text" class="form-control" id="x" name="x" value="{{x}}" />
                          </li>
                          <li>
                            <label for="y">Y-position:</label>
                            <input type="text" class="form-control" id="y" name="y" value="{{y}}" />
                          </li>
                          <li>
                            <label for="width">Width:</label>
                            <input type="text" class="form-control" id="width" name="width" value="{{width}}" />
                          </li>
                          <li>
                            <label for="height">Height:</label>
                            <input type="text" class="form-control" id="height" name="height" value="{{height}}" />
                          </li>
                        </div>

                        <div class="right_wrapper">
                          
                          <li>
                            <label for="duration">Duration:</label>
                            <input type="text" class="form-control" id="duration" name="duration" value="{{duration}}" />
                          </li>
                          <li>
                            <label for="opacity">Opacity:</label>
                            <input type="text" class="form-control" id="opacity" name="opacity" value="{{opacity}}" />
                          </li>
                        </div>
                      </div>

                      <div class="tab-pane" id="image_intro_{{id}}">
                        <div class="left_wrapper">
                          <li>
                            <label for="intro_x">X-position:</label>
                            <input type="text" class="form-control" id="intro_x" name="intro_x" value="{{intro_x}}" />
                          </li>
                          <li>
                            <label for="intro_y">Y-position:</label>
                            <input type="text" class="form-control" id="intro_y" name="intro_y" value="{{intro_y}}" />
                          </li>
                          <li>
                            <label for="intro_width">Width:</label>
                            <input type="text" class="form-control" id="intro_width" name="intro_width" value="{{intro_width}}" />
                          </li>
                          <li>
                            <label for="intro_height">Height:</label>
                            <input type="text" class="form-control" id="intro_height" name="intro_height" value="{{intro_height}}" />
                          </li>
                        </div>

                        <div class="right_wrapper">
                          <li>
                            <label for="intro_duration">Duration:</label>
                            <input type="text" class="form-control" id="intro_duration" name="intro_duration" value="{{intro_duration}}" />
                          </li>
                          <li>
                            <label for="intro_opacity">Opacity:</label>
                            <input type="text" class="form-control" id="intro_opacity" name="intro_opacity" value="{{intro_opacity}}" />
                          </li>
                          <li>
                              <label for="intro_easing">Easing:</label>
                              <div class="styled-select">
                                <select class="form-control" id="intro_easing" name="intro_easing">
                                  <option value="Linear" {{#is intro_easing "Linear"}} selected {{/is}}>Linear</option>
                                  <option value="EaseIn" {{#is intro_easing "EaseIn"}} selected {{/is}}>EaseIn</option>
                                  <option value="EaseOut" {{#is intro_easing "EaseOut"}} selected {{/is}}>EaseOut</option>
                                  <option value="EaseInOut" {{#is intro_easing "EaseInOut"}} selected {{/is}}>EaseInOut</option>
                                  <option value="BackEaseIn" {{#is intro_easing "BackEaseIn"}} selected {{/is}}>BackEaseIn</option>
                                  <option value="BackEaseInOut" {{#is intro_easing "BackEaseInOut"}} selected {{/is}}>BackEaseInOut</option>
                                  <option value="ElasticEaseIn" {{#is intro_easing "ElasticEaseIn"}} selected {{/is}}>ElasticEaseIn</option>
                                  <option value="ElasticEaseOut" {{#is intro_easing "ElasticEaseOut"}} selected {{/is}}>ElasticEaseOut</option>
                                  <option value="ElasticEaseInOut" {{#is intro_easing "ElasticEaseInOut"}} selected {{/is}}>ElasticEaseInOut</option>
                                  <option value="BounceEaseIn" {{#is intro_easing "BounceEaseIn"}} selected {{/is}}>BounceEaseIn</option>
                                  <option value="BounceEaseOut" {{#is intro_easing "BounceEaseOut"}} selected {{/is}}>BounceEaseOut</option>
                                  <option value="BounceEaseInOut" {{#is intro_easing "BounceEaseInOut"}} selected {{/is}}>BounceEaseInOut</option>
                                  <option value="StrongEaseIn" {{#is intro_easing "StrongEaseIn"}} selected {{/is}}>StrongEaseIn</option>
                                  <option value="StrongEaseOut" {{#is intro_easing "StrongEaseOut"}} selected {{/is}}>StrongEaseOut</option>
                                  <option value="StrongEaseInOut" {{#is intro_easing "StrongEaseInOut"}} selected {{/is}}>StrongEaseInOut</option>
                                </select>
                              </div>
                            </li>
                        </div>
                      </div>

                      <div class="tab-pane" id="image_outro_{{id}}">
                        <div class="left_wrapper">
                          <li>
                            <label for="outro_x">X-position:</label>
                            <input type="text" class="form-control" id="outro_x" name="outro_x" value="{{outro_x}}" />
                          </li>
                          <li>
                            <label for="outro_y">Y-position:</label>
                            <input type="text" class="form-control" id="outro_y" name="outro_y" value="{{outro_y}}" />
                          </li>
                          <li>
                            <label for="outro_width">Width:</label>
                            <input type="text" class="form-control" id="outro_width" name="outro_width" value="{{outro_width}}" />
                          </li>
                          <li>
                            <label for="outro_height">Height:</label>
                            <input type="text" class="form-control" id="outro_height" name="outro_height" value="{{outro_height}}" />
                          </li>
                        </div>
                        <div class="right_wrapper">
                          <li>
                            <label for="outro_duration">Duration:</label>
                            <input type="text" class="form-control" id="outro_duration" name="outro_duration" value="{{outro_duration}}" />
                          </li>
                          <li>
                            <label for="outro_opacity">Opacity:</label>
                            <input type="text" class="form-control" id="outro_opacity" name="outro_opacity" value="{{outro_opacity}}" />
                          </li>
                          <li>
                              <label for="outro_easing">Easing:</label>
                              <div class="styled-select">
                                <select class="form-control" id="outro_easing" name="outro_easing">
                                  <option value="Linear" {{#is outro_easing "Linear"}} selected {{/is}}>Linear</option>
                                  <option value="EaseIn" {{#is outro_easing "EaseIn"}} selected {{/is}}>EaseIn</option>
                                  <option value="EaseOut" {{#is outro_easing "EaseOut"}} selected {{/is}}>EaseOut</option>
                                  <option value="EaseInOut" {{#is outro_easing "EaseInOut"}} selected {{/is}}>EaseInOut</option>
                                  <option value="BackEaseIn" {{#is outro_easing "BackEaseIn"}} selected {{/is}}>BackEaseIn</option>
                                  <option value="BackEaseInOut" {{#is outro_easing "BackEaseInOut"}} selected {{/is}}>BackEaseInOut</option>
                                  <option value="ElasticEaseIn" {{#is outro_easing "ElasticEaseIn"}} selected {{/is}}>ElasticEaseIn</option>
                                  <option value="ElasticEaseOut" {{#is outro_easing "ElasticEaseOut"}} selected {{/is}}>ElasticEaseOut</option>
                                  <option value="ElasticEaseInOut" {{#is outro_easing "ElasticEaseInOut"}} selected {{/is}}>ElasticEaseInOut</option>
                                  <option value="BounceEaseIn" {{#is outro_easing "BounceEaseIn"}} selected {{/is}}>BounceEaseIn</option>
                                  <option value="BounceEaseOut" {{#is outro_easing "BounceEaseOut"}} selected {{/is}}>BounceEaseOut</option>
                                  <option value="BounceEaseInOut" {{#is outro_easing "BounceEaseInOut"}} selected {{/is}}>BounceEaseInOut</option>
                                  <option value="StrongEaseIn" {{#is outro_easing "StrongEaseIn"}} selected {{/is}}>StrongEaseIn</option>
                                  <option value="StrongEaseOut" {{#is outro_easing "StrongEaseOut"}} selected {{/is}}>StrongEaseOut</option>
                                  <option value="StrongEaseInOut" {{#is outro_easing "StrongEaseInOut"}} selected {{/is}}>StrongEaseInOut</option>
                                </select>
                              </div>
                            </li>
                        </div>
                      </div>

                      <div class="fixed_move_actions">
                          <span class="move_info">Move all coordinates: </span>

                          <a href="#" class="effect-button" data-id="70">Up</a>

                          <a href="#" class="effect-button" data-id="71">Down</a>

                          <a href="#" class="effect-button" data-id="72">Left</a>

                          <a href="#" class="effect-button" data-id="73">Right</a>

                          <a href="#" class="effect-button" data-id="74">In</a>

                          <a href="#" class="effect-button" data-id="75">Out</a>
                        </div>
                    </ul>

                  </div>

                  {/literal}
                  <div class="effects_wrapper">
                    {foreach from=$effects->image_effects item=effect}
                      {$count =  $effect@iteration}
                      <a href="#" class="effect-button" data-id="{$count - 1}">{$effect->name}</a>
                    {/foreach}

                    <a href="#" class="effect-button" data-id="49">Reset</a>
                    <a href="#" class="effect-button" data-id="51">FIFO</a>


                    <a href="#" class="effect-button" data-id="50">R</a>
                    <a href="#" class="effect-button" data-id="52">U</a>
                    <a href="#" class="effect-button" data-id="53">UR</a>
                    <a href="#" class="effect-button" data-id="54">R</a>
                    <a href="#" class="effect-button" data-id="55">RD</a>
                    <a href="#" class="effect-button" data-id="56">D</a>
                    <a href="#" class="effect-button" data-id="57">DL</a>
                    <a href="#" class="effect-button" data-id="58">L</a>
                    <a href="#" class="effect-button" data-id="59">UL</a>


                  </div>
                  {literal}

                </li>
              </form>
            {{/imageslist}}
          </script>
          {/literal}
        </ul>

        <form class="form-inline fileUpload2" id="add_image_form" role="form" enctype="multipart/form-data">
          <div class="form-group">
            <label class="sr-only" for="frame">Frame</label>
            <input type="text" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="frame" name="frame" placeholder="0" required>
          </div>

          <div class="form-group">
            <label class="sr-only" for="id">Name</label>
            <input type="text" class="form-control" id="id" name="id" placeholder="Name" pattern="^[a-z_]+$" required>
          </div>
          
          <div class="form-group file_select">
            <input type="file" name="deimage" id="deimage" class="fileElem">
            <label for="deimage" class="fileSelect">
              <i class="fa fa-spinner fa-spin hide"></i>
              <span class="btn txt addimage">Upload image</span>
            </label>
          </div>
        </form>

      </div>

      <div class="tab-pane" id="overlays">
        <ul id="overlays-ul">

          {literal}
            <script id="overlays-template" type="text/x-handlebars-template">
              {{#overlayslist}}
              <form class="form-horizontal overlays_details_form" action="#" method="post" id="overlays_details_form_{{id}}" role="form">

                <li class="overlay-row" data-id="{{id}}">
                  <div class="info_wrapper">
                    <div class="frame_from"><input type="text" name="startFrame" value="{{startFrame}}" /></div>
                    <div class="arrow_to"><i class="glyphicon glyphicon-arrow-right"></i></div>
                    <div class="frame_to"><input type="text" name="endFrame" value="{{endFrame}}" /></div>
                    <div class="opacity"><input type="text" name="transparency" value="{{transparency}}" /></div>
                    <div class="perc_symbol">%</div>
                    <div class="color">
                      <select id="color" name="color">
                        <option value="#F36A58" {{#is color "#F36A58"}} selected {{/is}}>Red</option>
                        <option value="#58F3DF" {{#is color "#58F3DF"}} selected {{/is}}>Blue</option>
                        <option value="#41708A" {{#is color "#41708A"}} selected {{/is}}>Dark blue</option>
                        <option value="#E8AD05" {{#is color "#E8AD05"}} selected {{/is}}>Yellow</option>
                      </select>
                    </div>

                    <div class="actions">
                      <span class="btn_remove">Delete</span>
                    </div>
                  </div>
                </li>

              </form>
              {{/overlayslist}}
            </script>
          {/literal}

        </ul>

        <form class="form-inline" id="add_overlay_form" role="form">
          <div class="form-group">
            <label class="sr-only" for="frame_from">Frame start</label>
            <input type="text" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="frame_from" name="frame_from" placeholder="0" required>
          </div>

          <div class="arrow_to"><i class="glyphicon glyphicon-arrow-right"></i></div>

          <div class="form-group">
            <label class="sr-only" for="frame_to">Frame end</label>
            <input type="text" pattern="^(0|[1-9][0-9]*)$" class="form-control" id="frame_to" name="frame_to" placeholder="0" required>
          </div>

          <div class="form-group">
            <label class="sr-only" for="transparency">Opacity</label>
            <input type="text" pattern="^[1-9][0-9]?$|^100$" class="form-control" id="transparency" name="transparency" placeholder="50" required>
            <span class="perc_symbol">%</span>
          </div>

          <div class="form-group">
            <label class="sr-only" for="color">Color</label>
            <select class="form-control" id="color" name="color">
              <option value="#F36A58">Red</option>
              <option value="#58F3DF">Blue</option>
              <option value="#41708A">Dark blue</option>
              <option value="#E8AD05">Yellow</option>
            </select>
          </div>
          
          <button type="submit" class="btn btn-default add_btn">Add new item</button>
        </form>
      </div>


      <div class="tab-pane" id="meta">
        <form id="add_meta_form" role="form">
          <div class="form-group">
            <label class="sr-only" for="meta_title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title">
          </div>
          
          <div class="form-group">
            <label class="sr-only" for="meta_desc">Description</label>
            <input type="text" class="form-control" id="meta_desc" name="description" placeholder="Short description">
          </div>
        </form>
      </div>

      <div class="tab-pane" id="frame_tab">
        <form id="calculate_frame_form" class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="calc_frames">Frames</label>
            <input type="text" class="form-control" id="calc_frames" name="calc_frames" placeholder="Frames">
          </div>
          
          <button type="submit" class="ninja_btn">Calculate</button>

          <div class="form-group">
            <label class="sr-only" for="calc_sec">Seconds</label>
            <input type="text" class="form-control" id="calc_sec" name="calc_sec" placeholder="Seconds">
          </div>
        </form>
      </div>

    </div>

    <div id="backup_wrapper" class="row text-center">
      <button id="download" class="ninja_btn download">Download Backup</button>
    </div>

  </div>

</div>

<script>
    
    var videoLength      = 14;   // seconds
    var videoimages      = {};   // hold the images that we will work with.
    var videoimagesready = 0;    // lets us know how many loaded and ready to anim.

    var stage = new Kinetic.Stage({
      container: 'stage',
      width: 640,
      height: 360,
      offset: [320, 180]
    });

    // Make the layers
    var backgroundlayer = new Kinetic.Layer();
    var imageslayer     = new Kinetic.Layer();
    var overlayslayer   = new Kinetic.Layer();
    var textslayer      = new Kinetic.Layer();
    var textslayer2     = new Kinetic.Layer();
    var gridlayer       = new Kinetic.Layer();

    // Add the layers
    stage.add( backgroundlayer );
    stage.add( imageslayer );
    stage.add( overlayslayer );
    stage.add( textslayer );
    stage.add( textslayer2 );
    stage.add( gridlayer );


    // Setup some variables for the adnimation
    var fps          = {$frame_rate}; // Comes from inc/universal_assigns.php
    var currentFrame = 0;
    var frameNum     = 0;
    var currentTime  = 0;
    var frames       = [];
    var ninja        = {$ninja}; // comes from ninja file
    var effects      = {$effects_json}; // comes from effects file

    normalizeNinja( ninja );
  
    // Load up the audio when it is loaded, then we will load the images.
    var audio = new Audio();
    audio.addEventListener( 'canplaythrough', audioLoaded, false);
    audio.src = "{$cwd}/audio.mp3";
    
    
    var lastOverlayId = 0;

    // fixed graphics elements
    var backgroundBlackRect = new Kinetic.Rect({

      x: 0,
      y: 0,
      fill: 'black',
      width: 640,
      height: 360,

    });
    backgroundlayer.add( backgroundBlackRect );

    
    var redRect = new Kinetic.Rect({
      x: 140,
      y: 0,
      width: 360,
      height: 360,
      stroke: 'red',
      strokeWidth: 1
    });

    var blueRect = new Kinetic.Rect({
      x: 165,
      y: 25,
      width: 310,
      height: 310,
      stroke: 'blue',
      strokeWidth: 1
    });

    gridlayer.add(redRect);
    gridlayer.add(blueRect);




    //// START ANIMATION DEINFATION ////
    var delta = 0;
    var anim  = new Kinetic.Animation(function(frame) {
      
      delta          = frame.timeDiff / 1000;
      currentFrame  += (delta * fps);
      currentTime   += delta;
      frameNum       = Math.floor( currentFrame );
        
      if( currentTime >= videoLength ) {

        currentFrame      = 0;
        frameNum          = 0;
        currentTime       = 0;
        audio.currentTime = 0;
        
      }

      if( currentTime == 0 ) {

        ninja = buildNinjaFromForms();
        normalizeNinja( ninja );

        audio.play();

        if( textslayer.children.length > 0 ) {
          //textslayer.destroyChildren();
        }

        if( imageslayer.children.length > 0 ) {
          //imageslayer.destroyChildren();
        }

      }

      // Do this every frame.
      overlayslayer.destroyChildren();

      for( var k in ninja.overlays ) {
        
        if( frameNum >= ninja.overlays[k].startFrame &&  frameNum <= ninja.overlays[k].endFrame ) {

          var overlay = new Kinetic.Rect({
            x: 0,
            y: 0,
            width: 640,
            height: 360,
            fill: ninja.overlays[k].color,
            opacity: ( ninja.overlays[k].transparency / 100 ).toFixed( 3 )
          });

          overlayslayer.add( overlay );

        }
      }

      // IMAGES
      // IMAGES
      // IMAGES 
      for( var k in ninja.images ) {

        // Passed a cue fire text cue.
        if( ninja.images[k].frame <= currentFrame && typeof ninja.images[k].fired === "undefined" ) {
         
          var actor = ninja.images[k];

          // Now we scale for half size in preview.
          actor.x = Math.floor( actor.x / 2 );
          actor.y = Math.floor( actor.y / 2 );

          actor.intro_x = Math.floor( actor.intro_x / 2 );
          actor.intro_y = Math.floor( actor.intro_y / 2 );

          actor.outro_x = Math.floor( actor.outro_x / 2 );
          actor.outro_y = Math.floor( actor.outro_y / 2 );

          actor.width = Math.floor( actor.width / 2 );
          actor.height = Math.floor( actor.height / 2 );

          actor.intro_width = Math.floor( actor.intro_width / 2 );
          actor.intro_height = Math.floor( actor.intro_height / 2 );

          actor.outro_width = Math.floor( actor.outro_width / 2 );
          actor.outro_height = Math.floor( actor.outro_height / 2 );

                   
          actor.image = videoimages[k];
          

          // create from ninja texts.
          var ii = new Kinetic.Image( actor );

          

          imageslayer.add( ii );

          var intro_tween = {};

          intro_tween.node = ii;
          intro_tween.duration = ii.attrs.intro_duration;
          intro_tween.easing = Kinetic.Easings[ii.attrs.intro_easing];
          intro_tween.x = ii.attrs.intro_x;
          intro_tween.y = ii.attrs.intro_y;
          intro_tween.width = ii.attrs.intro_width;
          intro_tween.height = ii.attrs.intro_height;
          intro_tween.opacity = ii.attrs.intro_opacity;
          
          
          

          // after intro tween call main tween.
          intro_tween.onFinish = function() {

            var main_tween = {};
            main_tween.node = this.node;
            main_tween.duration = this.node.attrs.duration;

            // after the maintween now do the outro
            main_tween.onFinish = function() {

              var outro_tween = {};

              outro_tween.node = this.node;
              outro_tween.duration = this.node.attrs.outro_duration;
              outro_tween.easing = Kinetic.Easings[this.node.attrs.outro_easing]
              outro_tween.x = this.node.attrs.outro_x;
              outro_tween.y = this.node.attrs.outro_y;
              outro_tween.width = this.node.attrs.outro_width;
              outro_tween.height = this.node.attrs.outro_height;
              outro_tween.opacity = this.node.attrs.outro_opacity;
              

  
              outro_tween.onFinish = function() {
                this.node.destroy();
              }

              outro_tween = new Kinetic.Tween( outro_tween );
              outro_tween.play();

            }

            main_tween = new Kinetic.Tween( main_tween );
            main_tween.play();

          }

          intro_tween = new Kinetic.Tween( intro_tween );
          intro_tween.play();
          
          ninja.images[k].fired = true; 
        }
      } // for loop images




      for( var k in ninja.texts ) {

        // Passed a cue fire text cue.
        if( ninja.texts[k].frame <= currentFrame && typeof ninja.texts[k].fired === "undefined" ) {
         
          var actor = ninja.texts[k];

          // Now we scale for half size in preview.
          actor.x = Math.floor( actor.x / 2 );
          actor.y = Math.floor( actor.y / 2 );

          actor.intro_x = Math.floor( actor.intro_x / 2 );
          actor.intro_y = Math.floor( actor.intro_y / 2 );

          actor.outro_x = Math.floor( actor.outro_x / 2 );
          actor.outro_y = Math.floor( actor.outro_y / 2 );

          actor.fontSize = Math.floor( actor.fontSize / 2 );
          actor.intro_fontSize = Math.floor( actor.intro_fontSize / 2 );
          actor.outro_fontSize = Math.floor( actor.outro_fontSize / 2 );

          // convert strings
          if( actor.center == "false" ) {
            actor.center = false;
          }

          delete text;

          // create from ninja texts.
          var text = new Kinetic.Text( actor );
          if( actor.center ) {
            text.offsetX(text.width()/2);
            text.offsetY(text.height()/2);
          }
          
          text.fontStyle( actor.fontStyle );
          textslayer.add( text );


          
          delete intro_tween;
          delete main_tween;
          delete outro_tween;


          var intro_tween = {};

          intro_tween.node = text;
          intro_tween.duration = text.attrs.intro_duration;
          intro_tween.easing = Kinetic.Easings[text.attrs.intro_easing];
          intro_tween.x = text.attrs.intro_x;
          intro_tween.y = text.attrs.intro_y;
          intro_tween.opacity = text.attrs.intro_opacity;
          intro_tween.fontSize = text.attrs.intro_fontSize;

          // after intro tween call main tween.
          intro_tween.onFinish = function() {

            
            var main_tween = {};
            main_tween.node = this.node;
            main_tween.duration = this.node.attrs.duration;

            // after the maintween now do the outro
            main_tween.onFinish = function() {

              var outro_tween = {};

              outro_tween.node = this.node;
              outro_tween.duration = this.node.attrs.outro_duration;
              outro_tween.easing = Kinetic.Easings[this.node.attrs.outro_easing]
              outro_tween.x = this.node.attrs.outro_x;
              outro_tween.y = this.node.attrs.outro_y;
              outro_tween.opacity = this.node.attrs.outro_opacity;
              outro_tween.fontSize = this.node.attrs.outro_fontSize;

              outro_tween.onFinish = function() {
                this.node.destroy();
              }

              outro_tween = new Kinetic.Tween( outro_tween );
              outro_tween.play();
            }

            main_tween = new Kinetic.Tween( main_tween );
            main_tween.play();

          }

          intro_tween = new Kinetic.Tween( intro_tween );
          intro_tween.play();
          
          ninja.texts[k].fired = true; 
        
        }

      } // for loop texts



    } , [ backgroundlayer, imageslayer, overlayslayer, textslayer, textslayer2, gridlayer ] );


    
function audioLoaded() {

  videoimagesready = 0;

  if( Object.keys( ninja.images ).length == 0 ) {
    play();
  }

  // Audio is loaded now we preload the images.
  for( var k in ninja.images ) {

    videoimages[k] = new Image();
    videoimages[k].onload = function(){

      videoimagesready++;

      //ninja.images[k].width = this.width;
      //ninja.images[k].height = this.height;

      if( videoimagesready == Object.keys( ninja.images ).length ) {
        // all the images are prelaoded. Let's play();
        play();
      }

    };

    videoimages[k].src = CWD + "/" + ninja.images[k].src;
  }
}
    

</script>
